<div ng-controller="ticketCateEditController as categoryEdit" ng-init="categoryEdit.init()" class="modal-dialog modal-sm">
    <div class="modal-content">
        <!-- loading -->
        <!-- form -->
        <form novalidate name="categoryEditForm" ng-submit="categoryEditForm.$valid && categoryEdit.saveForm()">
            <!--header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="categoryEdit.cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title">编辑门票分类</h5>
            </div>
            <!--header end-->
            <!--body-->
            <div class="modal-body">
                <!-- 分类名称 -->
                <div class="form-group">
                    <label>分类名称</label>
                    <input type="text" name="" required placeholder="（必填）" ng-model="categoryEdit.cateName" class="form-control">
                </div>
                <div class="form-group">
                    <label>分类描述</label>
                    <textarea class="form-control" name="" ng-model="categoryEdit.cateDes" class="form-control"></textarea>
                </div>
                <div class="form-group ">
                    <label>分类图片</label>
                    <a ng-click="categoryEdit.clickUpload('upload1')">上传</a>
                    <br>
                    <input id="upload1" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload1" />
                    <a id="hidenUpload1" style="display: none;" ng-click="categoryEdit.imgs1.uploadFile(myFile, categoryEdit.imgs1)"></a>
                    <!--酒店logo图修改按钮 end-->
                    <!-- 图 -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-repeat="img in categoryEdit.imgs1.data" class="form-thumbnail" style="background-image: url({{img.src}})">
                                <!-- 进度条 -->
                                <!-- -1代表失败 -->
                                <div class="progress form-thumbnail-progress" ng-show="!({{img.progress}}==100)">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{img.progress}}%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 分类排序 -->
                <div class="form-group">
                    <label>分类排序</label>
                    <input ng-model="categoryEdit.seq" required placeholder="（必填）" type="number" min="0" class="form-control" />
                </div>
            </div>
            <!--body end-->
            <!--footer-->
            <div class="modal-footer">
                <!-- 取消 -->
                <button type="button" class="btn btn-default btn-sm" ng-click="categoryEdit.cancel()">{{'CANCEL' | translate}}</button>
                <!-- 保存 -->
                <button type="submit" class="btn btn-primary  btn-sm" ng-disabled="categoryEditForm.$invalid || categoryEdit.saving">
                    <i class="icon ion-ios-checkmark-outline"></i> {{'SAVE' | translate}}
                </button>
            </div>
            <!--footer end-->
        </form>
    </div>
</div>
