<div class="content-right" ng-controller="memberCardListController as memberCardList" ng-init="memberCardList.init()">

    <!--当前选中名称-->
    <!-- 在线状态 -->
    <h4>会员卡</h4>
    <hr>
    <div>会员卡未创建，请先创建会员卡 <a href="https://mp.weixin.qq.com/">去创建</a></div>
    <a ng-click="memberCardList.addLevel()">新建等级</a>
    <a ng-click="memberCardList.configMemberCard()">配置</a>
    <table ng-table="memberCardList.tableParams" class="table table-hover">
        <tr ng-repeat="row in $data">
            <td title="'等级'">
                {{row.MemberLevelCode}}
            </td>
            <td title="'等级名'">
                {{row.MemberLevel}}
            </td>
            <td title="'折扣率'">
                {{row.MemberDiscount}}
            </td>
            <td title="'赚分倍率'">
                {{row.MemberEarning}}
            </td>
            <td title="'其他权益'">
                {{row.MemberOtherInterests}}
            </td>
            <td title="'升级策略'">
                {{row.MemberUpgradeStrategy}}
            </td>
            <td title="'操作'">
                <a ng-click="memberCardList.editMemberCard()">设置</a>
            </td>
        </tr>
    </table>
    <div ng-show="memberCardList.loading">loading...</div>
    <div ng-show="memberCardList.noData">查无数据</div>
    
    
</div>
