<div class="content-right" ng-controller="memberListController as memberList" ng-init="memberList.init()">

    <!--当前选中名称-->
    <!-- 在线状态 -->
    <h4>会员管理</h4>
    <hr>
    <table ng-table="memberList.tableParams" ng-show="!memberList.loading" class="table table-hover">
        <tr ng-repeat="row in $data">
            <td title="'会员名'">
                {{row.UserName}}
            </td>
            <td title="'等级'">
                {{row.Level}}
            </td>
            <td title="'手机号'">
                {{row.Mobile}}
            </td>
            <td title="'积分'">
                {{row.Bouns}}
            </td>
            <td title="'状态'">
                {{row.Status}}
            </td>

            <td title="'其他选填信息'" style="max-width:20em; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                <span ng-repeat="extend in row.extend" >
                    <span ng-show="extend.name | user_info" >{{extend.name | user_info}}:</span>
                    <span ng-show="extend.value_list.length==0 && (extend.name | user_info)">{{extend.value}}</span>
                    <span ng-show="extend.value_list.length!=0 && (extend.name | user_info)" ng-repeat="item in extend.value_list">{{item}}</span>
                </span>
            </td>
            <td title="'操作'">
                <!--传入被操作行的数据-->
                <a ng-click="memberList.editScores(row)">积分</a>
                <a ng-click="memberList.editLevels(row)">等级</a>
                <a ng-click="memberList.memberDetail(row)">详情</a>
            </td>
        </tr>
    </table>
    <div ng-show="memberList.loading">loading...</div>
    <div ng-show="memberList.noData">查无数据</div>
</div>
