<div ng-controller="memberDetailController as memberDetail" ng-init="memberDetail.init()" class="modal-dialog modal-sm">
    <div class="modal-content">
        <!--loading-->
        <div ng-show="memberDetail.loading">loading...</div>
        <!--header-->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="memberDetail.close()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title">详情</h5>
        </div>
        <!-- body -->
        <div class="modal-body">
            <!--详情-->
            <ul class="list-group list-group-condensed">
                <!--详情字段-->
                <li class="list-group-item" ng-repeat="(key,val) in memberDetail.data" ng-show="'{{key}}'=='UserName' && '{{val}}'">
                     <span>会员名</span>
                    <span class="pull-right">{{val}}</span>
                </li>
                <li class="list-group-item" ng-repeat="(key,val) in memberDetail.data" ng-show="'{{key}}'=='Level' && '{{val}}'">
                     <span>等级</span>
                    <span class="pull-right">{{val}}</span>
                </li>
                <li class="list-group-item" ng-repeat="(key,val) in memberDetail.data" ng-show="'{{key}}'=='Mobile' && '{{val}}'">
                     <span>手机</span>
                    <span class="pull-right">{{val}}</span>
                </li>
                <li class="list-group-item" ng-repeat="(key,val) in memberDetail.data" ng-show="'{{key}}'=='Bouns' && '{{val}}'">
                    <span>积分</span>
                    <span class="pull-right">{{val}}</span>
                </li>
                <li class="list-group-item" ng-repeat="(key,val) in memberDetail.data" ng-show="'{{key}}'=='Status' && '{{val}}'">
                    <span>状态</span>
                    <span class="pull-right">{{val}}</span>
                </li>
                <li class="list-group-item" ng-repeat="(key,val) in memberDetail.data" ng-show="'{{key}}'=='extend' && '{{val}}'">
                    <span>其他激活选填字段</span>
                    <span ng-repeat="extend in memberDetail.extend">
                        <span>{{extend.name | user_info}}</span>
                        <span ng-show="extend.value_list.length==0">{{extend.value}}</span>
                        <span ng-show="extend.value_list.length!=0">{{extend.value_list}}</span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <!-- 确定 -->
            <button type="button" class="btn btn-default btn-sm" ng-click="memberDetail.close()">确定</button>
            <!--footer end-->
        </div>
    </div>
</div>
