<div ng-controller="hotelOrderDetailController as hod" ng-init="hod.init()" class="modal-dialog modal-sm">
    <div class="modal-content">
        <!--loading-->
        <div ng-show="hod.loading">loading...</div>
        <!--header-->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="hod.close()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title">订单详情</h5>
        </div>
        <!-- body -->
        <div class="modal-body">
            <!--订单详情-->
            <ul class="list-group list-group-condensed">
                <!--订单号-->
                <li class="list-group-item">
                    订单号
                    <span class="pull-right">{{hod.orderInfo.OrderNum}}</span>
                </li>
                <!--下单时间-->
                <li class="list-group-item">
                    下单时间
                    <span class="pull-right">{{hod.orderInfo.CreateTime}}</span>
                </li>
                <!--订单状态-->
                <li class="list-group-item">
                    订单状态
                    <span class="pull-right">{{hod.orderInfo.Status | orderStatus}}</span>
                </li>
                <!--优惠-->
                <li class="list-group-item">
                    优惠券
                    <span class="pull-right">{{hod.orderInfo.card_info_title | arrToString}}</span>
                </li>
                <!--订单总价-->
                <li class="list-group-item">
                    订单总价
                    <span class="pull-right">{{hod.orderInfo.GoodsTotalPrice | fenToYuan}}</span>
                </li>
                <hr>
                <!--客房信息－酒店名-->
                <li class="list-group-item">
                    酒店
                    <span class="pull-right">{{hod.orderInfo.Name[hod.defaultLangCode]}}</span>
                </li>
                <!--客房信息－客房名-->
                <li class="list-group-item">
                    客房
                    <span class="pull-right">{{hod.orderInfo.RoomTypeName[hod.defaultLangCode]}}</span>
                </li>
                <!--变价信息－变价名-->
                <li class="list-group-item">
                    商品名
                    <span class="pull-right">{{hod.orderInfo.RoomServiceName[hod.defaultLangCode]}}</span>
                </li>
                <!--变价信息－变价描述-->
                <li class="list-group-item">
                    商品描述
                    <span class="pull-right">{{hod.orderInfo.RoomServiceDescription[hod.defaultLangCode]}}</span>
                </li>
                <hr>
                <!--入住信息－入住时间-->
                <li class="list-group-item">
                    入住时间
                    <span class="pull-right">{{hod.orderInfo.BookSte}}</span>
                </li>
                <!--入住信息－离店时间-->
                <li class="list-group-item">
                    离店时间
                    <span class="pull-right">{{hod.orderInfo.BookEndDate}}</span>
                </li>
                <!--入住信息－房间数量-->
                <li class="list-group-item">
                    房间数量
                    <span class="pull-right">{{hod.orderInfo.GoodsNum}}</span>
                </li>
                <hr>
                <!--联系人－姓名-->
                <li class="list-group-item">
                    姓名
                    <span class="pull-right">{{hod.orderInfo.ContactorName}}</span>
                </li>
                <!--联系人－手机-->
                <li class="list-group-item">
                    手机
                    <span class="pull-right">{{hod.orderInfo.ContactorPhone}}</span>
                </li>
                <!--身份证-->
                <li ng-if="hod.orderInfo.IDCardNumber" class="list-group-item">
                    身份证
                    <span class="pull-right">{{hod.orderInfo.IDCardNumber}}</span>
                </li>
                <!--游玩日期-->
                <li ng-if="hod.orderInfo.PlayDate" class="list-group-item">
                    游玩日期
                    <span class="pull-right">{{hod.orderInfo.PlayDate}}</span>
                </li>
            </ul>
            <hr>
            <!--订单详情-->
            <!--操作记录-->
            <small ng-repeat="info in hod.list">
                <!--状态改变描述-->
                <label>{{info.OperateAction | operateAction}}</label>
                <!--时间-->
                {{info.OperateTime}}
                <!--状态改变者-->
                {{info.OperateUserName}}
                <br>
            </small>
            <!--操作记录-->
        </div>
        <div class="modal-footer">
            <!-- 取消 -->
            <button type="button" class="btn btn-default btn-sm" ng-click="hod.close()">{{'CANCEL' | translate}}</button>
            <!--footer end-->
        </div>
    </div>
</div>
