<div ng-controller="tv3rdAppEditController as tv3rdAppEdit" ng-init="tv3rdAppEdit.init()" class="modal-dialog modal-sm">
    <div class="modal-content">
        <form name="tv3rdAppEditForm" ng-submit="tv3rdAppEditForm.$valid && tv3rdAppEdit.save()">
            <div class="modal-header">
                <button type="button" class="close" ng-click="tv3rdAppEdit.cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <!--修改App组合-->
                修改App组合
                <br>
                <!--修改App组合-->
            </div>
            <div class="modal-body">
                <!--loading-->
                <div ng-show="tv3rdAppEdit.loading">loading...</div>
                <!--loading-->
                <!--App组合列表-->
                <ul class="list-group list-group-condensed">
                    <li ng-repeat="app in tv3rdAppEdit.appList track by $index" class="list-group-item">
                        <h5>
                            <input type="radio" ng-model="tv3rdAppEdit.selApp" value="{{$index}}" ng-checked="tv3rdAppEdit.selApp == $index">
                            <!--app名称-->
                            {{app.Name}}
                            <!--app名称-->
                            <!--app描述-->
                            <small><br>&nbsp&nbsp&nbsp&nbsp&nbsp{{app.Description}}</small>
                            <!--app描述-->
                        </h5>
                    </li>
                    <!--App组合列表-->
                </ul>
            </div>
            <div class="modal-footer">
                <!--取消按钮-->
                <button ng-click="tv3rdAppEdit.cancel()" class="btn btn-default btn-sm">取消</button>
                <!--取消按钮-->
                <!--保存按钮-->
                <button type="submit" ng-disabled="tv3rdAppEdit.saving" class="btn btn-primary btn-sm">保存</button>
                <!--保存按钮-->
            </div>
        </form>
    </div>
</div>
