<div ng-controller="tv3rdAppController as tv3rdApp" ng-init="tv3rdApp.init()">
    <!-- loading -->
    <div ng-show="tv3rdApp.loading"></div>
    <!-- loading -->
    
    <!--当前App组合-->
    <ng-show ng-show="tv3rdApp.info.AppGroupName">
        App 组合：{{tv3rdApp.info.AppGroupName}}<br>
        描述：{{tv3rdApp.info.AppGroupDesc}}<br>
    </ng-show>
    <!--当前App组合-->
    
    <!--添加App组合按钮-->
    <a ng-click="tv3rdApp.add()" ng-show="!tv3rdApp.info.AppGroupName">请选取App组合</a>
    <!--添加App组合按钮-->

    <!--更换当前App组合按钮-->
    <a ng-click="tv3rdApp.edit()" ng-show="tv3rdApp.info.AppGroupName">更换</a>
    <!--更换当前App组合按钮-->
</div>