<div ng-controller="tvClassPicTextAddZFController as tvClassPicTextAddZF" ng-init="tvClassPicTextAddZF.init()" class="autoscroll modal-dialog modal-sm">
    <div class="modal-content">
        <!--header-->
        <div class="modal-header">
            <button type="button" class="close" ng-click="tvClassPicTextAddZF.cancel()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title">添加图片</h5>
        </div>
        <!--/header end-->
        <!--body-->
        <div class="modal-body">
            <form id="tvClassPicTextAddSXForm" name="tvClassPicTextAddSXForm" ng-submit="tvClassPicTextAddSXForm.$valid && tvClassPicTextAddZF.save()">
                <div class="form-group">
                    <!--序号-->
                    <label>序号</label>
                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required placeholder="（必填）""
                    type="number" ng-model="tvClassPicTextAddZF.Seq" min="1" required placeholder="（必填）"/>
                    <!--/序号-->
                </div>
                <div class="form-group">
                    <!--图片-->
                    <label>图片</label>
                    <!--图片上传按钮-->
                    <input id="upload1" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload1"/>
                    <a ng-click="tvClassPicTextAddZF.clickUpload('upload1')">上传</a>
                    <a id="hidenUpload1" style="display: none;" ng-click="tvClassPicTextAddZF.imgs1.uploadFile('myFile', tvClassPicTextAddZF.imgs1)"></a>
                    <!--/图片上传按钮-->
                    <div class="row" ng-repeat="img in tvClassPicTextAddZF.imgs1.data">
                        <div class="col-xs-12">
                            <div class="form-thumbnail ng-scope" style="background-image: url({{img.src}})" alt="{{img.fileName}}">
                                <!--进度条-->
                                <div class="progress form-thumbnail-progress" ng-show="!({{img.progress}}==100)" >
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{img.progress}}%"></div>
                                    <!-- -1代表失败 -->
                                    <!-- 大小： {{img.fileSize}}
                                    剩余： {{img.leftSize}} -->
                                </div><!--/progress-->
                            </div><!--/form-thumbnail-->
                        </div> <!--/col-xs-12-->
                    </div><!--/row-->
                    <!--/图片-->
                </div>

                <!--/详情-->
                <div class="form-group">
                    <!--详情-->
                    <ng-repeat ng-repeat="lang in tvClassPicTextAddZF.editLangs">
                        <ng-if ng-if="lang.default">
                            <label>详情{{lang.name}}：</label>
                            <textarea class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required placeholder="（必填）"" required placeholder="（必填）" ng-model="tvClassPicTextAddZF.Text[lang.code]">{{tvClassPicTextAddZF.Text[lang.code]}}</textarea>
                        </ng-if>
                        <ng-if ng-if="lang.default !== true">
                            <label>详情 {{lang.name}}：</label>
                            <textarea class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required placeholder="（必填）"" ng-model="tvClassPicTextAddZF.Text[lang.code]">{{tvClassPicTextAddZF.Text[lang.code]}}</textarea>
                        </ng-if>
                    </ng-repeat>
                    <!--/详情-->
                </div>
                <!--/地址-->

            </form>
        </div>
        <!--/body end-->
        <!--footer-->
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" ng-click="tvClassPicTextAddZF.cancel()">取消</button>
            <button type="submit" class="btn btn-primary btn-sm" form="tvClassPicTextAddSXForm" ng-disabled="tvClassPicTextAddZF.saving">保存</button>
        </div>
        <!--/footer end-->
    </div>
</div>