<div ng-controller="tvFlightEditController as tvFlightEdit" ng-init="tvFlightEdit.init()" class="autoscroll modal-dialog modal-sm">
    <div class="modal-content">
        <form name="tvFlightEditForm" ng-submit="tvFlightEditForm.$valid && tvFlightEdit.save()">
            <!--header-->
            <div class="modal-header">
                <button type="button" class="close" ng-click="tvFlightEdit.cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title">编辑机场信息</h5>
            </div>
            <!--/header end-->
            <!--body-->
            <div class="modal-body">
                <div class="form-group">
                    <label>机场序号</label>
                    <input type="number" ng-model="tvFlightEdit.airportNum" min="0" required placeholder="（必填）" class="form-control" />
                </div>
                <div class="form-group">
                    <label>机场编号</label>
                    <input ng-model="tvFlightEdit.airportCode" required placeholder="（必填）" class="form-control" />
                </div>
                <div class="form-group">
                    <ng-repeat ng-repeat="lang in tvFlightEdit.editLangs">
                        <ng-if ng-if="lang.default">
                            <label>机场名 {{lang.name}}</label>
                            <input ng-model="tvFlightEdit.airportName[lang.code]" required placeholder="（必填）"  class="form-control" />
                        </ng-if>
                        <ng-if ng-if="lang.default !== true">
                            <label>机场名 {{lang.name}}</label>
                            <input ng-model="tvFlightEdit.airportName[lang.code]" class="form-control" />
                        </ng-if>
                    </ng-repeat>
                </div>
            </div>
            <!--/body end-->
            <!--footer-->
            <div class="modal-footer">
                <!--取消按钮-->
                <div ng-click="tvFlightEdit.cancel()" class="btn btn-default btn-sm">取消</div>
                <!--取消按钮-->
                <!--保存按钮-->
                <button type="submit" ng-disabled="tvFlightEdit.saving" class="btn btn-primary btn-sm">保存</button>
                <!--保存按钮-->
            </div>
        </form>
    </div>
</div>
