<div ng-controller="tvLiveEditController as tvLiveEdit" ng-init="tvLiveEdit.init()" style="position: absolute; left: 100px; top: 100px; padding-left: 10px; border:1px red solid; right: 0; bottom: 0; background: rgba(255,255,255,0.8);">
    <!--添加直播的title-->
        <span>添加直播</span>
        <!--添加直播的title-->

        <form name="tvLiveEditForm" ng-submit="tvLiveEditForm.$valid && tvLiveEdit.save()">

            <!--频道序号-->
            频道序号 <input type="number" ng-model="tvLiveEdit.channelNum" min="1" required/>
            <!--频道序号-->
            
            <!--频道图标-->
            频道图标 
            <div ng-repeat="img in tvLiveEdit.imgs1.data">
                <img src="{{img.src}}" alt="{{img.fileName}}" />
                进度： {{img.progress}} <!-- -1代表失败 -->
                <!-- 大小： {{img.fileSize}}
                剩余： {{img.leftSize}} -->
            </div>
            <!--频道图标-->

            <!--频道图标上传按钮-->
            <input id="upload1" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload1"/>
            <a ng-click="tvLiveEdit.clickUpload('upload1')">上传频道图标</a>
            <a id="hidenUpload1" style="display: none;" ng-click="tvLiveEdit.imgs1.uploadFile('myFile', tvLiveEdit.imgs1)"></a>
            <!--频道图标上传按钮-->

            <!--频道名-->
            <ng-repeat ng-repeat="lang in tvLiveEdit.editLangs">
                <ng-if ng-if="lang.default">
                    频道名 {{lang.name}}：<input ng-model="tvLiveEdit.channelName[lang.code]" required />
                </ng-if>
                <ng-if ng-if="lang.default !== true">
                    频道名 {{lang.name}}：<input ng-model="tvLiveEdit.channelName[lang.code]" />
                </ng-if>
            </ng-repeat>
            <!--频道名-->

            <!--频道直播地址-->
            频道直播地址 (例：http://1.1.1.1/cctv1.m3u8)
            <input type="text" ng-model="tvLiveEdit.src" required/>
            <!--频道直播地址-->

            <!--保存按钮-->
            <button type="submit" ng-disabled="tvLiveEdit.saving">保存</button>
            <!--保存按钮-->

            <!--取消按钮-->
            <div ng-click="tvLiveEdit.cancel()">取消</div>
            <!--取消按钮-->
        </form>
</div>