<div ng-controller="tvMovieCommonAdvController as tvMovieCommonAdv" ng-init="tvMovieCommonAdv.init()" class="row">
    <div class="col-xs-6">
        <!--loading-->
        <div ng-show="tvMovieCommonAdv.loading"></div>
        <!--loading-->
        <form name="tvMovieCommonAdvForm" ng-submit="tvMovieCommonAdvForm.$valid && tvMovieCommonAdv.save()">
            <div class="form-group">
                <!--API参数-->
                <label>API参数</label>
                <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" ng-model="tvMovieCommonAdv.MovieContentAPIParam" required/>
                <!--/API参数-->
            </div>
            <div class="form-group">
                <!--API URL-->
                <label>API URL</label>
                <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" ng-model="tvMovieCommonAdv.MovieContentAPIURL" required/>
                <!--/API URL-->
            </div>
            <div class="form-group">
                <label> </label>
                <!--保存按钮-->
                <button class="button button-small button-block theme-button-outline" type="submit" ng-disabled="tvMovieCommonAdv.saving">
                    <i class="icon ion-ios-checkmark-outline"></i> {{'SAVE' | translate}}
                </button>
                <!--/保存按钮-->
            </div>
        </form>
    </div>
</div>
