<div ng-controller="multVideoAddController as multVideoAdd" ng-init="multVideoAdd.init()"
     class="autoscroll modal-dialog modal-sm">
    <div class="modal-content">
        <!--header-->
        <div class="modal-header">
            <button type="button" class="close" ng-click="multVideoAdd.cancel()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title">添加视频</h5>
        </div>
        <!--/header end-->
        <!--body-->
        <div class="modal-body">
            <form id="multVideoAddForm" name="multVideoAddForm"
                  ng-submit="multVideoAddForm.$valid && multVideoAdd.save()">
                <!--标题-->
                <div class="form-group">
                    <ng-repeat ng-repeat="lang in multVideoAdd.editLangs">
                        <ng-if ng-if="lang.default">
                            <label>标题{{lang.name}}：</label>
                            <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid" ng-invalid-required
                                   placeholder="（必填）" ng-model="multVideoAdd.Title[lang.code]" required
                                   placeholder="（必填）"/>
                        </ng-if>
                        <ng-if ng-if="lang.default !== true">
                            <label>标题 {{lang.name}}：</label>
                            <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid" ng-invalid-required
                                   placeholder="（必填）" ng-model="multVideoAdd.Title[lang.code]"/>
                        </ng-if>
                    </ng-repeat>
                </div>
                <!--/标题-->

                <div class="form-group">
                    <!--图片-->
                    <label>图片</label>
                    <!--图片上传按钮-->
                    <input id="upload1" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload1"/>
                    <a ng-click="multVideoAdd.clickUpload('upload1')">上传</a>
                    <a id="hidenUpload1" style="display: none;"
                       ng-click="multVideoAdd.imgs1.uploadFile('myFile', multVideoAdd.imgs1)"></a>
                    <!--/图片上传按钮-->
                    <div class="row" ng-repeat="img in multVideoAdd.imgs1.data">
                        <div class="col-xs-12">
                            <div class="form-thumbnail ng-scope" style="background-image: url({{img.src}})"
                                 alt="{{img.fileName}}">
                                <!--进度条-->
                                <div class="progress form-thumbnail-progress" ng-show="!({{img.progress}}==100)">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         style="width: {{img.progress}}%"></div>
                                    <!-- -1代表失败 -->
                                    <!-- 大小： {{img.fileSize}}
                                    剩余： {{img.leftSize}} -->
                                </div><!--/progress-->
                            </div><!--/form-thumbnail-->
                        </div> <!--/col-xs-12-->
                    </div><!--/row-->
                    <!--/图片-->
                </div>

                <div class="form-group">
                    <!--图片-->
                    <label>视频</label>
                    <!--图片上传按钮-->
                    <input id="upload2" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload2"/>
                    <a ng-click="multVideoAdd.clickUpload('upload2')">上传</a>
                    <a id="hidenUpload2" style="display: none;"
                       ng-click="multVideoAdd.imgs2.uploadFile('myFile', multVideoAdd.imgs2)"></a>
                    <!--/图片上传按钮-->
                    <div class="row" ng-repeat="img in multVideoAdd.imgs2.data">
                        <div class="col-xs-12">
                            <div class="form-thumbnail form-thumbnail-screen-sm ng-scope">
                                <video preload="none" src="{{img.src}}" controls=""></video>
                                <!--进度条-->
                                <div class="progress form-thumbnail-progress" ng-show="!({{img.progress}}==100)">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         style="width: {{img.progress}}%"></div>
                                    <!-- -1代表失败 -->
                                    <!-- 大小： {{img.fileSize}}
                                    剩余： {{img.leftSize}} -->
                                </div><!--/progress-->
                            </div><!--/form-thumbnail-->
                        </div> <!--/col-xs-12-->
                    </div><!--/row-->
                    <!--/图片-->
                </div>
            </form>
        </div>
        <!--/body end-->
        <!--footer-->
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" ng-click="multVideoAdd.cancel()">取消</button>
            <button type="submit" class="btn btn-primary btn-sm" form="multVideoAddForm"
                    ng-disabled="multVideoAdd.saving">保存
            </button>
        </div>
        <!--/footer end-->
    </div>
</div>