<div ng-controller="tvMusicCommonSXController as tvMusicCommonSX" ng-init="tvMusicCommonSX.init()" class="row">
    <div class="col-xs-6">
        <!-- 读取中 -->
        <div ng-show="tvMusicCommonSX.loading">loading...</div>
        <!-- 读取中 -->
        <form class="form" name="tvMusicCommonSXForm" ng-submit="tvMusicCommonSXForm.$valid && tvMusicCommonSX.save()">

            <!--ApkStartParam-->
            <div class="form-group">
                <label>MusicContentAPIParam</label>
                <input type="text" class="form-control" ng-model="tvMusicCommonSX.info.MusicContentAPIParam" required placeholder="（必填）">
            </div>
            <!--ApkStartParam-->
            <!--ApkVersion-->
            <div class="form-group">
                <label>MusicContentAPIURL</label>
                <input type="text" class="form-control" ng-model="tvMusicCommonSX.info.MusicContentAPIURL" required placeholder="（必填）">
            </div>
            <!--ApkVersion-->
            <!-- 保存 -->
            <div class="form-group">
                <label> </label>
                <button type="submit" class="button button-small button-block theme-button-outline">
                    <i class="icon ion-ios-checkmark-outline"></i> {{'SAVE' | translate}}
                </button>
            </div>
        </form>
        <!-- 保存中 -->
        <div ng-show="tvMusicCommonSX.saving">saving...</div>
    </div>
</div>
