<div ng-controller="SiMaTai_PicText_Classification_ThreeLevel_Controller as SMT" ng-init="SMT.init()">
    <!-- loading -->
    <div ng-show="SMT.loading">loading...</div>
    <!-- loading -->
    <!-- 一级分类标签 -->
    <ul class="nav nav-tabs">
        <li ng-repeat="cate in SMT.info track by $index" class="cursor-pointer {{$index == SMT.cateIndex ? 'active': ''}}">
            <a ng-click="SMT.loadPics($index, cate.ID)">{{cate.Title[SMT.defaultLangCode]}}?{{cate.ID}}++{{$index}}</a>
        </li>

        <li class="cursor-pointer">
            <a ng-click="SMT.addCategory(0,-1)">
                <i class="icon ion-android-add-circle"></i> 添加一级分类
            </a>
        </li>
    </ul>
    <!-- 按钮: 编辑分类 -->
    <a ng-if="SMT.info.length > 0" ng-click="SMT.editCate(0,-1)" class="button button-light">
        <i class="icon ion-ios-compose-outline"></i> 编辑一级分类
    </a>
    <!-- 按钮: 删除分类 -->
    <a ng-if="SMT.info.length > 0" ng-disabled="SMT.cateDeleting" ng-click="SMT.delCate(0,SMT.firstCategoryId)" class="button button-light">
        <i class="icon ion-ios-trash-outline"></i> 删除一级分类
    </a>

    <!-- 二级分类标签 -->
    <ul class="nav nav-tabs" ng-if="SMT.info.length > 0 ">
        <li ng-repeat="cate in SMT.info[SMT.cateIndex].sub track by $index" class="cursor-pointer {{$index == SMT.secondIndex ? 'active': ''}}">
            <a ng-click="SMT.loadSecondPics($index, cate.ID)">{{cate.Title[SMT.defaultLangCode]}}?{{cate.ID}}</a>
        </li>

        <li class="cursor-pointer">
            <a ng-click="SMT.addCategory(0, SMT.firstCategoryId)">
                <i class="icon ion-android-add-circle"></i> 添加二级分类
            </a>
        </li>
    </ul>
    <!-- 按钮: 编辑分类 -->
    <a ng-if="SMT.info.length > 0  && SMT.info[SMT.cateIndex].sub.length>0"  ng-click="SMT.editCate(0, SMT.firstCategoryId)" class="button button-light">
        <i class="icon ion-ios-compose-outline"></i> 编辑二级分类
    </a>
    <!-- 按钮: 删除分类 -->
    <a ng-if="SMT.info.length > 0  && SMT.info[SMT.cateIndex].sub.length>0" ng-disabled="SMT.cateDeleting" ng-click="SMT.delCate(0,SMT.secondCategoryId)" class="button button-light">
        <i class="icon ion-ios-trash-outline"></i> 删除二级分类
    </a>
    <!--添加图片按钮-->
    <a ng-if="SMT.info.length > 0  && SMT.info[SMT.cateIndex].sub.length>0" class="button button-light" ng-click="SMT.addCategory(1, SMT.secondCategoryId)">
        <i class="icon ion-ios-plus-outline"></i>
        添加图片{{SMT.secondCategoryId}}
    </a>

    <!--图文列表 开始-->
    <table class="table" ng-if="SMT.info.length > 0   && SMT.info[SMT.cateIndex].sub.length>0">
        <thead>
        <tr>
            <th>序号</th>
            <th>图片</th>
            <th>标题</th>
            <th>详情</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pic in SMT.info[SMT.cateIndex].sub[SMT.secondIndex].sub track by $index">
            <td>{{pic.Seq}}</td>
            <td>
                <div class="form-thumbnail form-thumbnail-sm" style="background-image: url({{pic.PicURL}})"></div>
            </td>
            <td>{{pic.Title[SMT.defaultLangCode]}}</td>
            <td>{{pic.Text[SMT.defaultLangCode]}}</td>
            <td>
                <!--编辑按钮-->
                <a class="" ng-click="SMT.editCate(1, SMT.secondIndex,$index)">编辑</a>
                <!--编辑按钮-->
                <!--删除按钮-->
                <a class="" ng-click="SMT.delCate(1,SMT.info[SMT.cateIndex].sub[SMT.secondIndex].sub[$index].ID)">删除</a>
                <!--删除按钮-->
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-if="SMT.info[SMT.cateIndex].sub.length == 0">空</div>
    <!--图文列表 结束-->
</div>