<div ng-controller="tvPicTextClassListSXController as tvPicTextClassListSX" ng-init="tvPicTextClassListSX.init()">
    <!-- loading -->
    <div ng-show="tvPicTextClassListSX.loading">loading...</div>
    <!-- loading -->

    <!-- 分类标签 -->
    <ul class="nav nav-tabs">
        <li ng-repeat="cate in tvPicTextClassListSX.info track by $index" class="cursor-pointer {{$index == tvPicTextClassListSX.cateIndex ? 'active': ''}}">
            <a ng-click="tvPicTextClassListSX.loadPics($index)">{{cate.Title[tvPicTextClassListSX.defaultLangCode]}}</a>
        </li>

        <li class="cursor-pointer">
            <a ng-click="tvPicTextClassListSX.addCategory()">
                <i class="icon ion-android-add-circle"></i> 分类添加
            </a>
        </li>
    </ul>
    <!-- 按钮: 编辑分类 -->
    <a ng-if="tvPicTextClassListSX.info.length > 0" ng-click="tvPicTextClassListSX.editCate()" class="button button-light">
        <i class="icon ion-ios-compose-outline"></i> 编辑分类
    </a>
    <!-- 按钮: 删除分类 -->
    <a ng-if="tvPicTextClassListSX.info.length > 0" ng-disabled="tvPicTextClassListSX.cateDeleting" ng-click="tvPicTextClassListSX.delCate()" class="button button-light">
        <i class="icon ion-ios-trash-outline"></i> 删除分类
    </a>
    <!--添加图片按钮-->
    <a ng-if="tvPicTextClassListSX.info.length > 0" class="button button-light" ng-click="tvPicTextClassListSX.addPic()">
        <i class="icon ion-ios-plus-outline"></i>
        添加图片
    </a>

    <!--图文列表 开始-->
    <table class="table">
        <thead>
        <tr>
            <th>序号</th>
            <th>图片</th>
            <th>标题</th>
            <th>详情</th>
            <th>地址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pic in tvPicTextClassListSX.info[tvPicTextClassListSX.cateIndex].sub track by $index">
            <td>{{pic.Seq}}</td>
            <td>
                <div class="form-thumbnail form-thumbnail-sm" style="background-image: url({{pic.PicURL}})"></div>
            </td>
            <td>{{pic.Title[tvPicTextClassListSX.defaultLangCode]}}</td>
            <td>{{pic.Text[tvPicTextClassListSX.defaultLangCode]}}</td>
            <td>{{pic.Addr[tvPicTextClassListSX.defaultLangCode]}}</td>
            <td>
                <!--编辑按钮-->
                <a class="" ng-click="tvPicTextClassListSX.editPic($index)">编辑</a>
                <!--编辑按钮-->
                <!--删除按钮-->
                <a class="" ng-click="tvPicTextClassListSX.delPic($index)">删除</a>
                <!--删除按钮-->
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-if="tvPicTextClassListSX.info[tvPicTextClassListSX.cateIndex].sub.length == 0">空</div>
    <!--图文列表 结束-->
</div>