<div ng-controller="tvStyleChangeController as tvStyleChange" ng-init="tvStyleChange.init()" style="position: absolute; left: 100px; top: 100px; padding-left: 10px; border:1px red solid; right: 0; bottom: 0; background: rgba(255,255,255,0.8);">
    <!--修改风格的title-->
        <span>修改风格</span>
        <!--修改风格的title-->

        <!--风格列表获取中的提示信息-->
        <div ng-show="tvStyleChange.loading">风格列表获取中...</div>
        <!--风格列表获取中的提示信息-->
       
        <!--风格图列表-->
        <ng-repeat ng-repeat="module in tvStyleChange.modules">
            
            <!--单选框-->
            <input type="radio" ng-model="tvStyleChange.module" value="{{module.Name}}" required>
            <!--单选框-->

            <!--模版模版名称-->
            {{module.DescName}}<br>
            <!--模版模版名称-->

            <!--模版模版风格图-->
            <img src="{{module.SamplePic}}">
            <!--模版模版风格图-->
        </ng-repeat>
        <!--风格图列表-->


        <!--保存中的提示信息-->
        <div ng-show="tvStyleChange.saving">saving...</div>
        <!--保存中的提示信息-->

        <form name="tvStyleChangeForm" ng-submit="tvStyleChangeForm.$valid && tvStyleChange.save()">

            <!--模版名称（多语言）-->
            <ng-repeat ng-repeat="lang in tvStyleChange.editLangs">
                <ng-if ng-if="lang.default">
                    模版名称 {{lang.name}}：<input ng-model="tvStyleChange.menuName[lang.code]" required />
                </ng-if>
                <ng-if ng-if="lang.default !== true">
                    模版名称 {{lang.name}}：<input ng-model="tvStyleChange.menuName[lang.code]" />
                </ng-if>
            </ng-repeat>
            <!--模版名称（多语言）-->

            <!--模版图片-->
            <div ng-repeat="img in tvStyleChange.imgs1.data">
                <img src="{{img.src}}" alt="{{img.fileName}}" />
                进度： {{img.progress}} <!-- -1代表失败 -->
                <!-- 大小： {{img.fileSize}}
                剩余： {{img.leftSize}} -->
            </div>
            <!--模版图片-->

            <!--修改模版图片按钮-->
            <input id="upload1" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload1"/>
            <a ng-click="tvStyleChange.clickUpload('upload1')">上传模版图片</a>
            <a id="hidenUpload1" style="display: none;" ng-click="tvStyleChange.imgs1.uploadFile('myFile', tvStyleChange.imgs1)"></a>
            <!--修改模版图片按钮-->

            <!--模版高亮图片-->
            <div ng-repeat="img in tvStyleChange.imgs2.data">
                <img src="{{img.src}}" alt="{{img.fileName}}" />
                进度： {{img.progress}} <!-- -1代表失败 -->
                <!-- 大小： {{img.fileSize}}
                剩余： {{img.leftSize}} -->
            </div>
            <!--模版高亮图片-->

            <!--修改模版高亮图片按钮-->
            <input id="upload2" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload2"/>
            <a ng-click="tvStyleChange.clickUpload('upload2')">上传模版高亮图片</a>
            <a id="hidenUpload2" style="display: none;" ng-click="tvStyleChange.imgs2.uploadFile('myFile', tvStyleChange.imgs2)"></a>
            <!--修改模版高亮图片按钮-->

            <!--模版排序-->
            模版序号 <input type="number" ng-model="tvStyleChange.seq" min="1" required/>
            <!--模版排序-->

            <!--保存按钮-->
            <button type="submit">保存</button>
            <!--保存按钮-->

            <!--取消按钮-->
            <div ng-click="tvStyleChange.cancel()">取消</div>
            <!--取消按钮-->
        </form>
</div>