<div ng-controller="tvWelStyleChangeController as tvWelStyleChange" ng-init="tvWelStyleChange.init()" style="position: absolute; left: 100px; top: 100px; padding-left: 10px; border:1px red solid; right: 0; bottom: 0; background: rgba(255,255,255,0.8);">
    <!--修改风格的title-->
        <span>修改风格</span>
        <!--修改风格的title-->

        <!--风格列表获取中的提示信息-->
        <div ng-show="tvWelStyleChange.loading">风格列表获取中...</div>
        <!--风格列表获取中的提示信息-->

        <!--保存中的提示信息-->
        <div ng-show="tvWelStyleChange.saving">saving...</div>
        <!--保存中的提示信息-->

        <form name="tvWelStyleChangeForm" ng-submit="tvWelStyleChangeForm.$valid && tvWelStyleChange.save()">

            <!--风格图列表-->
            <ng-repeat ng-repeat="style in tvWelStyleChange.styles">
                
                <!--单选框-->
                <input type="radio" ng-model="tvWelStyleChange.style" value="{{style.Name}}">
                <!--单选框-->

                <!--风格名称-->
                {{style.DescName}}<br>
                <!--风格名称-->

                <!--风格图-->
                <img src="{{style.SamplePic}}">
                <!--风格图-->
            </ng-repeat>
            <!--风格图列表-->

            <!--保存按钮-->
            <button type="submit">保存</button>
            <!--保存按钮-->

            <!--取消按钮-->
            <div ng-click="tvWelStyleChange.cancel()">取消</div>
            <!--取消按钮-->
        </form>
</div>