 /* Let's get this party started */
::-webkit-scrollbar {
    width: 9px;
}
 
/* Track */
::-webkit-scrollbar-track {
    
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-left: solid 2px #777;
}

/*button*/
::-webkit-scrollbar-button{
    height: 18px;
}



body{
    font-family: "Microsoft YaHei UI","PingHei","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #666;
    /*background: rgb(50,100,145);*/
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    color: #212121;
}

body, .app {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-color: white;*/
}

.bg{
    position: absolute;
    top: -18px;
    left: -18px;
    right: -18px;
    bottom: -18px;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.bg:after{
    content:' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(90,90,90,.125);
    /*mix-blend-mode: darken;*/
}
/*desktop*/

.desktop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 180px 60px 0px;
    display: flex;
    justify-content: center;
}

.app-grid-wrapper{
  max-width: 1354px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

}

.app-grid {
    min-width: 180px;
    min-height: 224px;
    flex: 16.667%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.app-icon {
    cursor: pointer;
    border-radius: 18%;
    background-color: rgba(255,255,255,.8);
    background-image: url();
    background-position: center center;
    background-size: cover;
}

.app-grid>.app-icon{
  width: 146px;
    height: 146px;
}
.app-launcher-grid>.app-icon{
  position: absolute;
  top:10px;
  left: 10px;
  right: 10px;
}
.app-launcher-grid>.app-icon:before{
    content: ' ';
    display: block;
    padding-bottom: 100%;
}

.app-launcher-grid-current>.app-icon{
    border-radius: 0px;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.app-launcher-grid>.app-name{
    position: absolute;
    width: 100%;
    display: block;
    bottom: 1px;
    text-align: center;
    
}

.app-name{
  color: white
}

.project-title{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 36px;
    
}
.avatar{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.8);
  z-index: 2;
}

/*app*/

.app-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.app-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 56px;    
}

.app-title>.app-icon{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 0;
}
.app-title>.app-name{
    position: absolute;
    margin: 0;
    left: 76px;
    line-height: 56px;
    opacity: 1 !important;
}

.app-launcher{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
  height: 56px;
  display: flex;
  flex-flow: row;
    justify-content: center;
}

.app-launcher-mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  opacity: 0;
  cursor: pointer;
}

.app-launcher-mask:hover{
  opacity: 1;
}

.app-launcher-grid{
  position: relative;
  width: 56px;
  height: 56px;
  ;
    /*will-change:width;*/
}

.app-launcher-grid-current{
  width: 224px;
}

.app-view {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 72px;
    background-color: white;
    overflow-y: scroll;
}




.app-view-mask{
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .25;
    cursor: pointer;

}

.app-view-mask:hover{
    opacity: 1;
}

/*phase*/

.app.phase1>.desktop {
    transition-duration: .53s;
    transform: scale(.96);
}
.app.phase2>.desktop {
    transition-duration: .53s;
}

.app.phase1>.app-frame {
    transition-duration: .53s;
    transform: scale(.9);
    opacity: 0;
    pointer-events: none;
}
.app.phase2>.app-frame {
    transition-duration: .53s;
}


.app.phase2 .project-title {
    transition-duration: .53s;
    opacity: 0;
}
.app.phase2 .project-title {
    transition-duration: .53s;
    opacity: 0;
}


.app-frame.phase1 .app-title{
    transition-duration: .33s;
}
.app-frame.phase2 .app-title{  
    transition-duration: .33s;
    transform: translate(0px,56px); 
    opacity: 0
}

.app-frame.phase1 .app-launcher{
    transition-duration: .33s;
    opacity: .25
}
.app-frame.phase2 .app-launcher{
    transition-duration: .33s;
    height: 112px;   
}


.app-frame.phase1 .app-launcher-mask{
    transition-duration: .33s;
}
.app-frame.phase2 .app-launcher-mask{
    transition-duration: .33s;
    pointer-events: none;
    height: 112px;
    opacity: 0;
}

.app-frame.phase1 .app-name{
    transition-duration: 0s;
    opacity: 0;
    transition-delay: 0s;
}
.app-frame.phase2 .app-name{
    transition-duration: .33s;
    opacity: 1;
    transition-delay: .25s;
}

.app-frame.phase1 .app-view{
    transition-duration: .33s;
} 
.app-frame.phase2 .app-view{
    transition-duration: .33s;
    transform: translate(0px,56px);
} 

.app-frame.phase1 .app-view-mask{
    transition-duration: .33s;
    pointer-events: none;
    opacity: 0
} 
.app-frame.phase2 .app-view-mask{
    transition-duration: .33s;
    transform: translate(0px,56px);
    pointer-events: inherit;
} 

.app-frame.phase1 .app-launcher-grid{
    transition-duration: .33s;
}
.app-frame.phase2 .app-launcher-grid{
    transition-duration: .33s;
    width: 84px;
    height: 112px;
}

/*modify*/
/*bs extend*/
a{
    cursor: pointer
}

table{
    cursor: default;
}

th,.th{
    color: #555;
    font-weight: normal;
}
td{
    color: #818181
}

label{
    margin-bottom: 10px;
    margin-top: 14px
}

hr {
    
}

textarea{
    resize: none;
    min-height: 5em
}

.container{
    max-width: 980px;
}

.container-fluid.has-nav-left{
    margin-left: 160px;
}

.title-btn{
    font-size: 24px;
    vertical-align: text-top;
}


    /*nav-tab*/
.nav>li>a{
    padding: 5px 15px;
}
.list-group-item{
    border-left: none;
    border-right: none;
}
.nav.nav-tabs{
    margin-bottom: 20px;
}
.tab-content{
    position: relative;
}
.tab-content>.tab-pane{
    position: absolute;
    width: 100%;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom:solid 2px;
}
.nav-tabs>li>a{
    color: #818181
}


    /*modal*/
.modal{
    display: block;
    overflow-y: auto;
    pointer-events: none;    
}
.modal.fade.in{
    pointer-events: auto;
}
.modal-backdrop{
    z-index: 0;
    pointer-events: none;
    height: 400%;
}
.modal-dialog{
    margin: 72px auto;
}
.modal-content{
    border: none;
    -webkit-box-shadow: 0 5px 24px 8px rgba(0,0,0,.125);
    box-shadow: 0 5px 24px 8px rgba(0,0,0,.125);
}
.modal-sm .modal-body{
    padding: 15px;
}
.modal-body{
    padding: 15px 30px;
}
.modal hr{
    margin-left: -15px;
    margin-right: -15px;
}
.modal-footer{
    border-top: none;
}




    /*btn*/
.btn-sm>.icon{
    font-size: 15px;
    line-height: 1;
}
.modal-footer .btn+.btn{
    border: none
}


    /*form*/
input.form-control{
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: inherit;
    box-shadow: none !important;
    padding-left: 1px;
    padding-top: 3px;
    margin-top: -10px;
    height: 28px;
}

.checkbox label, .radio label{
    margin-top: 0px;
}

    /*list group*/
.list-group-condensed>.list-group-item{
    border: none;
    padding:5px 10px 5px 10px;
}
.list-group-item span>.badge,.list-group-item span>p{
    line-height: 1.1;
    margin-top:10px;
    margin-bottom: 0px;
    margin-right: 5px;
}


    /*card*/
.panel{
    overflow: hidden;
}

.list-group-item.btn{
    text-align: left !important;
}

.table>thead>tr>th{
    border-bottom: 1px solid #ddd
}

.table-condensed>tbody>tr>td, 
.table-condensed>tbody>tr>th, 
.table-condensed>tfoot>tr>td, 
.table-condensed>tfoot>tr>th, 
.table-condensed>thead>tr>td, 
.table-condensed>thead>tr>th{
    padding: 11px 5px;
}

.table-hover>tbody>tr:hover>td {
    color: #555
}
/* bs-toggle cover */
.toggle{
    position: relative;
    display: inline-block;
}
.toggle.btn{
    min-height: 15px;
    min-width: 15px;
    height: 20px !important;
    width: 32px !important;
    border-radius: 100px;
}
.toggle.btn.btn-default,.toggle.btn.btn-primary{
    background-color: transparent !important;
    border:solid 2px #ddd;
}
.toggle-group{
    transition-duration: .15s;
    -webkit-transition-duration: .15s;
    padding: 0;
}
.toggle-on.btn{
    background-color: #41ba63
}

.toggle-on,.toggle-off{
    color: transparent !important;
    padding: 0;
    box-shadow: none !important;
    line-height: 1;
}

.toggle-handle{
    top:0;
    border-radius: 100px;
    vertical-align: top;
    width:32px;
    height: 16px;
    border:none
}

.toggle-handle:hover{
    background-color: white
}

/*ng-table cover*/
.ng-table th{
    text-align: left;
}


/* hybrid */

.box>.panel{
    margin-bottom: 0;
    transition-duration: .15s;
}
.box>.panel:hover{
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,.15);
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,.15)
}

.form-thumbnail-progress{
    position: absolute;
    bottom: 5px;
    left: 7px;
    right: 7px;
    margin-bottom: 0px;
    height: 7px;
    box-shadow: 0 -2px 9px 0px rgba(0,0,0,.35)
}

.form-thumbnail-progress>.progress-bar{
    -webkit-box-shadow:none;
    box-shadow: none;
}

.form-thumbnail-delete{
     position: absolute;
    right: -5px;
    top: -5px;
    width: 21px;
    height: 21px;
    border-radius: 14px;
    background-color: #d9534f;
    color: white;
    text-align: center;
    line-height: 21px;
    font-size: 12px;
    z-index: 1;
}
.form-thumbnail-delete:hover{
    background-color: #c9302c
}

/*private*/
.nav-left{
    position: fixed;
    
}
.nav-left-content{
    position: absolute;
    left: -160px;
    width: 160px;
    min-height: 1px;
    padding-top: 37px;
    padding-right: 15px;
    padding-left: 15px;
}
.content-right{
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.search-bar{
    margin-bottom: 10px;
}
.search-bar>.form-group{
    display: inline-block;
    width: 140px;
}
.search-bar>.button{
    top: -9px
}

.tag{
    cursor: pointer;
    border-radius: 12px;
    background-color: #ddd;
    line-height: 24px;
    font-size: 14px;
    padding: 0px 10px;
    margin-right: 2px;
    margin-bottom: 1px;
    margin-top: 2px;
    display: inline-block;
}

.tag.active{
    background-color: #666;
    color: white
}

    /*用于表、表单里面的缩略图*/
.form-thumbnail{
    position: relative;
    margin-right: 5px;
    float: left;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
    border-radius: 3px;
    margin-right: 9px;
}

.form-thumbnail:after{
    content: ' '; 
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,.125);
    pointer-events: none
}

.form-thumbnail-creat{
    border: 2px dashed #C8C8C8;
    background-color: transparent;
    text-align: center;
    line-height: 110px;
    font-size: 12px;
    color: #797979;
    cursor: pointer;
}

.form-thumbnail-creat:after{
    display: none;
}

.form-thumbnail>video{
    width: 100%;
    height: 100%;
}


    /*设置组*/
.setting-group{
    padding: 0;
}
.setting-group-item{
    position: relative;
    list-style: none;
    display: block;
    margin-bottom: 12px;
}
.setting-group-item>.row{
    margin-top: -10px
}
.setting-group-item .form-control{
    margin-top: 0px
}


    /*瀑布流和卡片式设计*/
.box{
    position: relative;
    width:25%; 
    /*width: 25%;*/
    display: inline-block;
    padding: 6px 5px;
    vertical-align: top
}

.box-corner-btn{
    position: absolute !important;
    top: 10px;
    right: 17px;
    color: white;
    font-size: 25px;
    cursor: pointer
}

.box-top-img{
    position: relative;
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.box-top-img:after{
    content:' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    opacity: .05;
    border-radius: 4px 4px 0px 0px;
    transition-duration: 0.5s;
}
.box:hover .box-top-img:after{
    opacity: 0.35
}

.box .list-group-item>span.pull-right{
    max-width: 72%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* waterfall */
.wf-container:before,.wf-container:after {
    content: '';
    display: table;
}
.wf-container:after {
    clear: both;
}
.wf-box{
}
.wf-column {
    float: left;
}


/* util */
.flex-hr-eq{
    display: flex;

}
.flex-item{
    flex-grow: 1;
    text-align: center;
}

.no-margin{
    margin: 0 !important;
}

.text-right{
    text-align: right;
}

.padding-bottom-72{
    padding-bottom:72px
}

.transparent{
    opacity: 0
}

.cursor-pointer{
    cursor: pointer;
}

.col-condensed{
    padding-left: 2px;
    padding-right: 2px;
}
.col-condensed:nth-of-type(1){
    padding-left: 15px;
}
.col-condensed:nth-last-of-type(1){
    padding-right: 15px;
}

/*ionic*/
.form-thumbnail-creat>.icon{
    position: absolute;
    left: 0;
    font-size: 32px;
    width: 100%;
    line-height: 59px;
    text-align: center;
}

/*blur*/
@supports (-webkit-filter:blur(12px)) {

    .bg:before{
    content:' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    
    transition-duration: .3s;
    -webkit-filter: blur(9px);
    filter: blur(9px);

    opacity: 1;

    /*will-change:opacity;
    transition-duration: 0.5s;*/
}
    
    .app-view-blur-bg{
        position: absolute;
        top: 84px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        opacity: 0;
        transition-duration: .1s
    }

    .app-view-blur-bg:before{
        content: ' ';
        position: absolute;
        top: -21px;
        left: -16px;
        width: 36px;
        height: 75px;
        background: white;
        -webkit-filter: blur(9px);
        filter: blur(9px);
    }
    .app-view-blur-bg:after{
        content: ' ';
        position: absolute;
        top: -21px;
        right: -16px;
        width: 48px;
        height: 75px;
        background: white;
        -webkit-filter: blur(9px);
        filter: blur(9px);
    }

    .app-view-blur-bg.in{
        opacity: 1
    }

    .blur{
        -webkit-filter: blur(12px);
        filter: blur(12px)
    }
}
