
/* Let's get this party started */
::-webkit-scrollbar {
    width: 9px;
}
 
/* Track */
::-webkit-scrollbar-track {
    
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-left: solid 2px #777;
}

/*button*/
::-webkit-scrollbar-button{
    height: 18px;
}



body{
    font-family: "Microsoft YaHei UI","PingHei","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #666;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    color: #212121;
}

body, .app {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.bg{
    position: absolute;
    top: -18px;
    left: -18px;
    right: -18px;
    bottom: -18px;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}

.bg:before{
    content:' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(9px);
    opacity: 0;
    /*will-change:opacity;
    transition-duration: 0.5s;*/
}

.bg:after{
    content:' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.32);
    /*mix-blend-mode: darken;*/
}
/*desktop*/

.desktop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 180px 60px 0px;
    display: flex;
    justify-content: center;

}

.app-grid-wrapper{
  max-width: 1354px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

}

.app-grid {
    min-width: 180px;
    min-height: 224px;
    flex: 16.667%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.app-icon {
    cursor: pointer;
    border-radius: 18%;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,.8);
}

.app-grid>.app-icon{
  width: 146px;
    height: 146px;
}
.app-launcher-grid>.app-icon{
  position: absolute;
  top:10px;
  left: 10px;
  right: 10px;
}
.app-launcher-grid>.app-icon:before{
    content: ' ';
    display: block;
    padding-bottom: 100%;
}

.app-launcher-grid-current>.app-icon{
    border-radius: 0px;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.app-launcher-grid>.app-name{
    position: absolute;
    width: 100%;
    display: block;
    bottom: 1px;
    text-align: center;
    
}

.app-name{
  color: white
}

.project-title{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 36px;
    
}
.avatar{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.8);
  z-index: 2;
}

/*app*/

.app-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.app-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 56px;    
}

.app-title>.app-icon{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 0;
}
.app-title>.app-name{
    position: absolute;
    margin: 0;
    left: 76px;
    line-height: 56px;
    opacity: 1 !important;
}

.app-launcher{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
  height: 56px;
  display: flex;
  flex-flow: row;
    justify-content: center;
}

.app-launcher-mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  opacity: 0;
  cursor: pointer;
}

.app-launcher-mask:hover{
  opacity: 1;
}

.app-launcher-grid{
  position: relative;
  width: 56px;
  height: 56px;
  ;
    /*will-change:width;*/
}

.app-launcher-grid-current{
  width: 224px;
}

.app-view {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 72px;
    background-color: white;
    overflow-y: scroll;
}

.app-view-mask{
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .25;
    cursor: pointer;

}

.app-view-mask:hover{
    opacity: 1;
}

/*phase*/

.app.phase1>.desktop {
    transition-duration: .53s;
    transform: scale(.96);
}
.app.phase2>.desktop {
    transition-duration: .53s;
}

.app.phase1>.app-frame {
    transition-duration: .53s;
    transform: scale(.9);
    opacity: 0;
    pointer-events: none;
}
.app.phase2>.app-frame {
    transition-duration: .53s;
}


.app.phase2 .project-title {
    transition-duration: .53s;
    opacity: 0;
}
.app.phase2 .project-title {
    transition-duration: .53s;
    opacity: 0;
}


.app-frame.phase1 .app-title{
    transition-duration: .33s;
}
.app-frame.phase2 .app-title{  
    transition-duration: .33s;
    transform: translate(0px,56px); 
    opacity: 0
}

.app-frame.phase1 .app-launcher{
    transition-duration: .33s;
    opacity: .25
}
.app-frame.phase2 .app-launcher{
    transition-duration: .33s;
    height: 112px;   
}


.app-frame.phase1 .app-launcher-mask{
    transition-duration: .33s;
}
.app-frame.phase2 .app-launcher-mask{
    transition-duration: .33s;
    pointer-events: none;
    height: 112px;
    opacity: 0;
}

.app-frame.phase1 .app-name{
    transition-duration: .33s;
    opacity: 0;
    transition-delay: 0s;
}
.app-frame.phase2 .app-name{
    transition-duration: .33s;s
    opacity: 1;
    transition-delay: .15s;
}

.app-frame.phase1 .app-view{
    transition-duration: .33s;
} 
.app-frame.phase2 .app-view{
    transition-duration: .33s;
    transform: translate(0px,56px);
} 

.app-frame.phase1 .app-view-mask{
    transition-duration: .33s;
    pointer-events: none;
    opacity: 0
} 
.app-frame.phase2 .app-view-mask{
    transition-duration: .33s;
    transform: translate(0px,56px);
    pointer-events: inherit;
} 

.app-frame.phase1 .app-launcher-grid{
    transition-duration: .33s;
}
.app-frame.phase2 .app-launcher-grid{
    transition-duration: .33s;
    width: 84px;
    height: 112px;
}


/*modify*/
/*bs-cover*/
.container{
    max-width: 980px;
}
.nav>li>a{
    padding: 5px 15px;
}

hr {
    
}

.list-group-item{
    border-left: none;
    border-right: none;
}

.nav.nav-tabs{
    margin-bottom: 20px;
}
.tab-content{
        position: relative;
}
.tab-content>.tab-pane{
    position: absolute;
    width: 100%;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom:solid 2px;
}

.nav-tabs>li>a{
    color: #818181
}
.modal{
    display: block;
    pointer-events: none;    
}
.modal-backdrop{
    z-index: 0;
}

/*bs-extend*/
.list-group-item span>.badge,.list-group-item span>p{
    line-height: 1.1;
    margin-top:10px;
    margin-bottom: 0px;
    margin-right: 5px;
}
.modal.fade.in{
    pointer-events: auto;
}

/*bs-like*/
.btn-clipboard {
    position: relative;
    top: -1px;
    right: -1px;
    float: right;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #777;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}

/*private*/
.nav-left{
    position: fixed;
    padding-top: 37px;
    width: 160px;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.content-right{
    position: relative;
    left: 160px;
    width: calc(100% - 160px);
    height: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
    /*用于表、表单里面的缩略图*/
.form-thumbnail{
    position: relative;
    margin-right: 5px;
    float: left;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
    border-radius: 3px;
}

.form-thumbnail:after{
    content: ' '; 
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,.125)
}

.list-group-item.thumbnail-left{
    padding-left: 80px;
}
.list-group-item.thumbnail-left>.form-thumbnail{
    position: absolute;
    left: 10px;
}

.cursor-pointer{
    cursor: pointer;
}