<div ng-controller="advanceCateAddController as categoryAdd" ng-init="categoryAdd.init()" class="modal-dialog modal-sm">
    <div class="modal-content">
        <!-- loading -->
        <!-- form -->
        <form novalidate name="categoryAddForm" ng-submit="categoryAddForm.$valid && categoryAdd.saveForm()">
            <!--header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="categoryAdd.cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title">添加商品标签</h5>
            </div>
            <!--header end-->
            <!--body-->
            <div class="modal-body">
                <!-- 标签名称 -->
                <ng-repeat ng-repeat="lang in categoryAdd.multiLang track by $index">
                    <div class="form-group" ng-if="lang.default==true">
                        <label>标签名称({{lang.name}})</label>
                        <input type="text" name="" required placeholder="（必填）" ng-model="categoryAdd.form.shopName[lang.code]" class="form-control">
                    </div>
                    <div class="form-group" ng-if="lang.default!==true">
                        <label>标签名称({{lang.name}})</label>
                        <input type="text" name="" ng-model="categoryAdd.form.shopName[lang.code]" class="form-control">
                    </div>
                </ng-repeat>
                <!-- 标签排序 -->
                <div class="form-group">
                    <label>标签排序</label>
                    <input ng-model="categoryAdd.seq" required placeholder="（必填）" type="number" min="0" class="form-control" />
                </div>
            </div>
            <!--body end-->
            <!--footer-->
            <div class="modal-footer">
                <!-- 取消 -->
                <button type="button" class="btn btn-default btn-sm" ng-click="categoryAdd.cancel()">{{'CANCEL' | translate}}</button>
                <!-- 保存 -->
                <button type="submit" class="btn btn-primary  btn-sm" ng-disabled="categoryAddForm.$invalid || categoryAdd.saving">
                    <i class="icon ion-ios-checkmark-outline"></i> {{'SAVE' | translate}}
                </button>
            </div>
            <!--footer end-->

        </form>
    </div>
</div>
