<ul class="list-unstyled" ng-controller="appController as app" ng-init="app.init();" ng-show="app.roomData.newData || app.shopData.newData">
<li class="alert alert-{{type || 'info'}}" ng-show="app.roomData.total && app.roomData.TIMER" style="padding:5px" ng-click="app.viewPendingList($event,'app.hotelOrderList',2,app.roomData,app.roomTotal)">
        <img src="dist/imgs/app-icon-04.png" alt="" style="width:36px;height:36px;border-radius: 5px">
        <a href=""  style="padding-left:5px;padding-right:5px">
            您有{{app.roomData.total}}条新订单，点击查看详情！
        </a>
<!-- && (!app.roomData.noData || !app.shopData.noData)  -->
        <button type="button" class="close" data-dismiss="modal" ng-click="hideAlert()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
    </li>
    <li class="alert alert-{{type || 'info'}}" ng-show="app.shopData.total && app.shopData.TIMER" style="padding:5px;" ng-click="app.viewPendingList($event,'app.shopOrderList',4,app.shopData,app.shopTotal)">
        <img src="dist/imgs/app-icon-03.png" alt="" style=" width:36px;height:36px;border-radius: 5px">
        <a href="" style="padding-left:5px;padding-right:5px">
            您有{{app.shopData.total}}条新订单，点击查看详情！
        </a>
        <button type="button" class="close" data-dismiss="modal" ng-click="hideAlert()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
    </li>
    <video controls width="300" height="20" autoplay ng-if="(app.roomData.total && app.roomData.TIMER) || (app.shopData.total && app.shopData.TIMER)">
        <source src="./dist/mp3/order.mp3">
        Your browser does not support the video tag.
    </video>
</ul>