<div ng-controller="appController as app" ng-init="app.init(); app.avatarPhase = 'phase1' " class="app phase{{app.appPhase}}">
    <!-- desktop -->
    <div class="desktop ">
        <!-- loading... -->
        <div ng-show="app.loading">loading...</div>
        <!-- header start -->
        <div class="project-title">
            <div class="project-logo" style="background-image: url(dist/imgs/icon-05.png)"></div>
        </div>
        <span class="project-name navbar-header">{{app.projectDes}}</span>
        <!-- 头像/菜单 -->

        <div  class="avatar {{app.avatarPhase}}" ng-class="{'blur':(app.showMaskClass)}" ng-click="app.avatarPhase = app.avatarPhase == 'phase1' ? 'phase2' : 'phase1'">
            <i class="icon ion-ios-more"></i>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="mailto:linhan@cleartv.cn;fengqinyuan@cleartv.cn;wangguoquan@cleartv.cn;chenyinyin@cleartv.cn">使用反馈</a>
                </li>
                <li class="list-group-item" ng-click="app.logout()">退出</li>
            </ul>

        </div>
        <!-- grid -->
        <div class="app-grid-wrapper">
            <div ng-repeat='appIcon in appList' class="app-grid">
                <i ng-click="app.switchApp(appIcon.id)" class="app-icon" style="background-image: url({{appIcon.icon}})">
                    <b class="text-center"  ng-click="app.PendingList($event,2)" ng-if="appIcon.id == 2 && app.roomData.total">
                        {{app.roomData.total}}
                    </b>
                    <b class="text-center"  ng-click="app.PendingList($event,4)" ng-if="appIcon.id == 4 && app.shopData.total">
                        {{app.shopData.total}}
                    </b>
                </i>
                <h4 class="app-name">{{appIcon.name}}</h4>
                <!-- {{appIcon.bgColor}} -->
            </div>
            <!-- 空白网格，数量等于{每行最大数量}, 用来保持网格整体各式正常-->
            <div class="app-grid"></div>
            <div class="app-grid"></div>
            <div class="app-grid"></div>
            <div class="app-grid"></div>
            <div class="app-grid"></div>
            <div class="app-grid"></div>
        </div>
    </div>
    <!-- app -->
    <div class="app-frame phase{{app.appFramePhase}}">
        <!-- white bg -->
        <div class="app-title-blur-bg" ng-class="{'in':(app.showMaskClass)}" style="background-color: {{app.activeAppBgColor}}"></div>
        <div class="app-view-blur-bg" ng-class="{'in':(app.showMaskClass)}"></div>

        <!-- blur wrapper -->
        <div ng-class="{'blur':(app.showMaskClass)}">
            <!-- app title -->
            <div class="app-title" style="background-color: {{app.activeAppBgColor}}">
                <i class="app-icon" style="background-image: url({{app.activeAppIcon}})"></i>
                <!-- background: -webkit-radial-gradient(0% 110%, rgba(216,156,44,1) 11%,rgba(211,157,116,0) 70%); {{app.activeAppThemeColor}}-->
                <h4 class="app-name">{{app.activeAppName}} </h4>
            </div>
            <!-- launcher -->
            <div class="app-launcher">
                <!-- back -->
                <div class="app-launcher-grid">
                    <i ng-click="app.showDesktop()" class="app-icon app-back" style="background-image: url('dist/imgs/app-icon-05.png'); box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,.6);"></i>
                    <h5 class="app-name">{{'HOME' | translate}}</h5>
                </div>
                <!-- launcher-grid  ui-sref="hotelOrderList" ui-sref="shopOrderList"-->
                <div ng-repeat='appIcon in appList' class="app-launcher-grid">
                    <i ng-click="app.switchApp(appIcon.id)" class="app-icon" style="background-image: url({{appIcon.icon}})">
                        <b class="text-center"  ng-click="app.PendingList($event,2)" ng-if="appIcon.id == 2 && app.roomData.total">{{app.roomData.total}}
                        </b>
                        <b class="text-center"  ng-click="app.PendingList($event,4)" ng-if="appIcon.id == 4 && app.shopData.total">{{app.shopData.total}}
                        </b>
                    </i>
                    <h5 class="app-name">{{appIcon.name}}</h5>
                    <!-- {{appIcon.bgColor}} -->
                </div>
            </div>
            <div ng-click="app.focusLauncher()" class="app-launcher-mask phase1" data-phase="1"></div>
            <!-- view -->
            <div class="app-view">
                <ui-view></ui-view>
            </div>
            <div ng-click="app.focusApp()" class="app-view-mask"></div>
        </div>
    </div>
    <!-- 弹窗层 -->
    <div class="modal fade" ng-class="{'in':(app.showMaskClass)}">
        <!-- 弹窗背景 -->
        <div class="modal-backdrop fade in"></div>
        <ng-include src="app.maskUrl">
            <!--
            -
            - 
                弹窗内容
            -
            -
            -->
        </ng-include>
    </div>
    <!--全局提示框-->
        <ul class="list-unstyled alert_bar" ng-show="(app.path != '/login')" style="margin-right:20px;position:absolute;right:20px;bottom:50px;z-index:10000">
            <li class="alert alert-{{type || 'info'}}" ng-show="app.roomData.newData" style="padding:5px" ng-click="app.viewPendingList($event,'app.hotelOrderList',2,app.roomData)">
                <img src="dist/imgs/app-icon-04.png" alt="" style="width:36px;height:36px;border-radius: 5px">
                <a href=""  style="padding-left:5px;padding-right:5px">
                    您有新的订单，请及时处理！
                </a>
                <button type="button" class="close" data-dismiss="modal" >
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </li>
            <li class="alert alert-{{type || 'info'}}" ng-show="app.shopData.newData" style="padding:5px;margin-bottom:0" ng-click="app.viewPendingList($event,'app.shopOrderList',4,app.shopData)">
                <img src="dist/imgs/app-icon-03.png" alt="" style=" width:36px;height:36px;border-radius: 5px">
                <a href="" style="padding-left:5px;padding-right:5px">
                    您有新的订单，请及时处理！
                </a>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </li>
            <video id="speaker" width="0" height="0" autoplay ng-if="app.roomData.newData || app.shopData.newData">
                <source src="./dist/mp3/order.mp3">
                Your browser does not support the video tag.
            </video>
        </ul>
    <style type="text/css">
    .bg:before {
        opacity: 0;
    }

    /*主题样式*/
    .theme-color,a.button,table a,table a:hover,.modal-title,.list-group-item a.btn,.form-group>a{
        color: {{app.activeAppThemeColor}}; 
    }
    
    .theme-bg{
        background: {{app.activeAppThemeColor}};
    }

    .form-control:focus{
        border-color:{{app.activeAppThemeColor}};
    }

    .tag.active{
        background-color: {{app.activeAppThemeColor}};
    }

    
    a.theme-hover:hover{
        color: {{app.activeAppThemeColor}};
    }

    .nav-header.active a{
        color: #000 !important;
        margin-bottom: 6px;
        border-bottom: solid 1px {{app.activeAppThemeColor}};
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        border-color: {{app.activeAppThemeColor}};
    }

    .theme-button-outline{
        background: #fff;
        color: {{app.activeAppThemeColor}};
        border-color:{{app.activeAppThemeColor}};
    }
    .theme-button-outline:hover{
        background-color: #eee;
        color: {{app.activeAppThemeColor}};
    }

    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover,
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover{
        background-color: {{app.activeAppThemeColor}};
        border-color: {{app.activeAppThemeColor}};
    }
    .pagination>li>a,
    .pagination>li>span,
    .pagination>li>a,
    .pagination>li>span,
    .pagination>li>a:focus,
    .pagination>li>a:hover,
    .pagination>li>span:focus,
    .pagination>li>span:hover{
        color: {{app.activeAppThemeColor}};
    }





    </style>
</div>
