
<!-- 班车预约管理 -->
<div ng-controller="busController as bus" ng-init="bus.init()" class="container">

    <!-- loading -->
    <div ng-show="bus.loading">loading...</div>

    <!-- 左侧菜单 -->
    <div class="nav-left ">
        <ul class="nav nav-stacked nav-left-content">
            <li class="nav-header {{bus.routeIndex === $index ? 'active' : ''}}" ng-click="bus.checkRoute($index)" ng-repeat="busItem in bus.routeList track by $index">
                <a class="theme-hover">
                    {{busItem.Name}}
                </a>
            </li>
            <li class="nav-header">
                <a class="theme-color theme-hover" ng-click="bus.routeAdd()">
                    <i class="icon ion-android-add-circle"></i> 添加线路
                </a>
            </li>
            <li class="nav-header">
                <a class="theme-color theme-hover" ng-click="bus.config()">
                    <i class="icon ion-gear-b"></i> 配置
                </a>
            </li>
        </ul>
    </div>

    <!-- 右侧部分 -->
    <div class="content-right">
        <!-- 标题 + 编辑酒店信息按钮-->
        <h4 ng-click="bus.routeEdit()" class="cursor-pointer">
            {{bus.routeList[bus.routeIndex].Name}}
            <a class="title-btn"><i class="icon ion-ios-compose-outline theme-color"></i></a>
        </h4>
        <hr>
        <!-- 航站楼部分 -->
        <!-- 添加，点击按钮显示输入框 -->
        <div ng-show="bus.routeList[bus.routeIndex].Type === '机场'">
            <a ng-click="bus.addTerminal()" class="button button-light">
                <i class="icon ion-ios-plus-outline"></i> 添加航站楼
            </a>
            <!-- 显示当前的航站楼列表 -->
            <div>
                <span ng-repeat="terminal in bus.terminalList" style="line-height: 18px;">
                    {{terminal.Name}}
                    <a ng-click="bus.editTerminal(terminal.ID)" class="title-btn"><i class="icon ion-ios-compose-outline theme-color"></i></a>
                    <a ng-click="bus.delTerminal(terminal.ID)" class="title-btn"><i class="icon ion-ios-close-outline theme-color"></i></a>
                    &emsp;
                </span>
            </div>
            <hr>
        </div>
        <div class="row">
            <!--搜索 筛选条件－开始日期&&结束日期-->
            <div class="col-xs-6">
                <div class="search-bar">
                    <!-- 日期选择器 -->
                    <div class="form-group">
                        <!--开始日期-->
                        <small>日期</small>
                        <input readonly type="text" class="form-control" uib-datepicker-popup ng-model="bus.searchDate" is-open="bus.dateIsOpened" datepicker-options="dateOptions" close-text="关闭" clear-text="清空" current-text="今天" ng-click="bus.open($event)" />
                    </div>
                    <a ng-click="bus.listBustime()" class="button button-light" style="top: 10px;">
                        <i class="icon ion-ios-search-strong"></i> 查询
                    </a>
                    <a ng-click="bus.listBustime()" class="button button-light" style="top: 10px;">
                        <i class="icon ion-android-refresh"></i> 刷新
                    </a>
                </div>
            </div>
        </div>
        <hr style="margin-top: 0;">
        <!-- 按钮: 新建班次 -->
        <a ng-click="bus.addTime()" class="button button-light">
            <i class="icon ion-ios-plus-outline"></i> 添加班次
        </a>
        <table id="busTab" ng-table="bus.tableParams" ng-show="!bus.loading" class="table table-hover table-condensed">
            <tr ng-repeat="bustime in $data track by $index">
                <td data-title="'发车时间'">{{bustime.Time}}</td>
                <td data-title="'登记人数'">{{bustime.Number}}</td>
                <td data-title="'状态'">{{bustime.Status | busStatus}}</td>
                <td data-title="'班次总计可预约人数'">{{bustime.MaxReservationNumber}}</td>
                <td data-title="'每单最多可预约人数'">{{bustime.MaxReservationNumberPerOrder}}</td>
                <td data-title="'操作'">
                    <a ng-click="bus.delete(bustime.LineID)">删除</a>
                    <a ng-click="bus.edit(bustime)">编辑</a>
                    <a ng-click="bus.orderDetail(bustime.LineID, bustime.Time, bustime.Number)">登记详情</a>
                    <a ng-click="bus.arrive(bustime.LineID)">更新到达信息</a>
                </td>
            </tr>
        </table>
        <div ng-show="bus.loading">loading...</div>
        <div ng-show="bus.noData">查无数据</div>
    </div>
</div>
