<div ng-controller="busOrderPrintController as bod" ng-init="bod.init()" class="modal-dialog" style="width: 800px">
    <div class="modal-content">
        <!--loading-->
        <div ng-show="bod.loading">loading...</div>
        <!--header-->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="bod.close()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title">班车登记详情</h5>
        </div>
        <!-- body -->
        <div print-section class="modal-body modal-bus-body">
            <!-- <div class="row"> -->
            <div class="title" style="line-height: 30px">
                班车登记表 <span style="margin-left: 20px">发车日期：{{bod.Date}}</span>
            </div>
            <style>
                .busPrintTable {
                    width: 100%
                }

                .busPrintTable td, .busPrintTable th {
                    border: 1px solid #999;
                    vertical-align: middle;
                    padding: 5px 10px;
                }
            </style>
            <table class="busPrintTable table-responsive">
                <tr>
                    <td width="110">路线名称</td>
                    <td width="80">班次</td>
                    <td width="70">总人数</td>
                    <td width="70">航站楼</td>
                    <td width="70">航站楼总人数</td>
                    <td width="100">预订人姓名</td>
                    <td>人数</td>
                    <td width="70">航班号</td>
                    <td width="136">航班号预订人手机</td>
                </tr>
                <tr ng-repeat="item in bod.list">
                    <td rowspan="{{item.routeSpan}}" ng-show="item.routeSpan&&item.routeSpan>=1">{{item.RouteName}}</td>
                    <td rowspan="{{item.timeSpan}}" ng-show="item.timeSpan&&item.timeSpan>=1">{{item.Time}}</td>
                    <td rowspan="{{item.timeSpan}}" ng-show="item.timeSpan&&item.timeSpan>=1">{{item.timeAll}}</td>
                    <td rowspan="{{item.towerSpan}}" ng-show="item.towerSpan&&item.towerSpan>=1">{{item.Terminal}}</td>
                    <td rowspan="{{item.towerSpan}}" ng-show="item.towerSpan&&item.towerSpan>=1">{{item.towerAll}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Number}}</td>
                    <td>{{item.Flight}}</td>
                    <td>{{item.Phone}}</td>
                </tr>
            </table>
            <!-- </div> -->
            <ng-if ng-if="bod.list.length == 0">查无数据</ng-if>
        </div>
        <!-- body end -->
        <div class="modal-footer">
            <!-- 取消 -->
            <button type="button" class="btn btn-default btn-sm" ng-click="bod.close()">{{'CANCEL' | translate}}
            </button>
            <!-- 订单打印 -->
            <button type="button" class="btn btn-primary btn-sm" print-btn>
                <i class="icon ion-printer"></i> 打印
            </button>
            <!--footer end-->
        </div>
    </div>
</div>
