<div ng-controller="goodsListController as gl" ng-init="gl.init()">
    <button ng-click="gl.categoryEdit()" ng-hide="gl.stateParams.ShopGoodsCategoryID==='all'">分类编辑</button>
    <button ng-click="gl.categoryDelete()" ng-hide="gl.stateParams.ShopGoodsCategoryID==='all'">删除分类</button><br>
    
    <table ng-table="gl.tableParams" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="product in gl.productList">
            <td data-title="'商品名'" >{{product.name[gl.langStyle]}}</td>
            <td data-title="'库存'" >{{product.invetory}}</td>
            <td data-title="'商品图'" ><Img ng-src="product.imgSrc"></td>
            <td data-title="'单价'">{{product.price}}</td>
        </tr>
    </table>
</div>
