<div ng-controller="goodsListController as gl" ng-init="gl.init()">
    <!-- 按钮: 编辑分类 -->
    <a ng-click="gl.categoryEdit()" ng-hide="gl.stateParams.ShopGoodsCategoryID==='all'"  class="button button-light">
        <i class="icon ion-ios-compose-outline"></i> 编辑分类
    </a>
    <!-- 按钮: 删除分类 -->
    <a ng-click="gl.categoryDelete()" ng-hide="gl.stateParams.ShopGoodsCategoryID==='all'" class="button button-light">
        <i class="icon ion-ios-trash-outline"></i> 删除分类
    </a>
    <!-- 按钮: 添加商品 -->
    <a ng-click="gl.goodsAdd()" class="button button-light">
        <i class="icon ion-ios-plus-outline"></i> 添加商品
    </a>

    <!-- 列表: 商品列表 -->
    <div ng-init="room.search()" class="wf-container">
        <!-- 容器: 瀑布流容器 -->
        <div class="wf-box box" ng-repeat="product in gl.goodsList"> 
            <div class="panel panel-default">
                <!-- 内容: 商品图 -->
                <div class="box-top-img" ng-style="{'background-image': 'url({{product.imgSrc}})'}"></div>
                <!-- 操作：编辑 -->
                <i ng-click="gl.goodsEdit(product.productId)" class="icon ion-gear-a box-corner-btn"></i>
                <div class="panel-body">
                    <!-- 内容: 商品名 -->
                    <h4>{{product.name[gl.langStyle]}}</h4>
                    <!-- 内容: 商品分类 -->
                    <span ng-repeat="category in gl.categoryList">{{category.name[gl.langStyle]}}
                        <input type="checkbox"  ng-checked="gl.checkGoodsCategory(category.id,product.categoryList)"  ng-model="this.value" ng-click="gl.changeGoodsCategory(product.productId,category.id,this.value,product.categoryList)">
                    </span>
                </div>
                <ul class="list-group">
                    <!-- 内容：价格 -->
                    <li class="list-group-item">
                        价格
                        <span class="pull-right">
                            ￥{{product.price}}
                        </span>
                    </li>
                    <!-- 内容：库存 -->
                    <li class="list-group-item">
                        库存
                        <span class="pull-right">
                            {{product.invetory}}件
                        </span>
                    </li>
                    <!-- 操作：上架开关 -->
                    <li class="list-group-item">
                        上架
                        <span class="pull-right">
                            <toggle ng-model="product.status" ng-change="gl.changeGoodsStatus(product.productId,product.status)" class="pull-right"></toggle>
                        </span>
                    </li>

                </ul>
            </div>
        </div>
    </div>       


</div>
