<div style="position: absolute;left: 200px;" ng-controller="goodsController as goods" ng-init="goods.init()">
    {{goods.stateParams.ShopName}} + {{goods.stateParams.HotelName}} <button ng-click="goods.shopEdit()">编辑商城属性</button><br>
    <div ng-show="goods.loading">loading...</div>

  <!--   <span ui-sref="app.shop.goods.goodsList({ShopGoodsCategoryID:'all',ShopGoodsCategoryName:'全部商品'})">全部商品</span> |<span ui-sref="app.shop.goods.goodsList({ShopGoodsCategoryID:category.id,ShopGoodsCategoryName:goods.JSONstringfy(category.name)})"  ng-repeat="category in goods.categoryList">{{category.name[goods.langStyle]}} | </span><button ng-click="goods.categoryAdd()">分类添加</button> <br> -->



    <span ui-sref="app.shop.goods.goodsList({ShopGoodsCategoryID:'all',ShopGoodsCategoryName:'全部商品'})">全部商品</span> |<span  ng-click="goods.goTo(category.id,category.name)" ng-repeat="category in goods.categoryList">{{category.name[goods.langStyle]}} | </span><button ng-click="goods.categoryAdd()">分类添加</button> <br>
    <ui-view></ui-view>
    <div ng-show="goods.noData">查无数据</div>
</div>