<div ng-controller="goodsListController as gl" ng-init="gl.init()">
    
    <button ng-click="gl.goodsAdd()">添加商品</button>
    

    <button ng-click="gl.categoryEdit()" ng-hide="gl.stateParams.ShopGoodsCategoryID==='all'">分类编辑</button>
    <button ng-click="gl.categoryDelete()" ng-hide="gl.stateParams.ShopGoodsCategoryID==='all'">删除分类</button><br>
    
    <table ng-table="gl.tableParams" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="product in gl.productList">
            <td data-title="'商品名'" >{{product.name[gl.langStyle]}}</td>
            <td data-title="'库存'" >{{product.invetory}}</td>
            <td data-title="'商品图'" ><Img ng-src="product.imgSrc"></td>
            <td data-title="'单价'">{{product.price}}</td>
            <td data-title="'分类'"><span ng-repeat="category in gl.categoryList">{{category.name[gl.langStyle]}}<input type="checkbox" name=""  ng-click="gl.changeGoodsCategory(category.id,product.productId)" ng-checked="category.id ==product"></span> </td>
            <td data-title="'上架下架'"><input type="checkbox" name="" ng-click="gl.changeGoodsStatus(product.productId)"> </td>
            <td><button ng-click="gl.goodsEdit(product.productId)">编辑商品属性</button></td>
        </tr>
    </table>
    测试
    {{gl.categoryList}}<br/>
    {{gl.categoryList}}
</div>
