<div ng-controller="goodsCategoryEditController as gce" ng-init="gce.init()" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.4);">
    categotyEdit
    <br>
    <button ng-click="gce.cancel()">X</button>
    <form novalidate name="gceForm" ng-submit="gceForm.$valid && gce.saveForm()">
        <input type="text" name="" placeholder="请输入分类名字" required ng-model="gce.form.shopName[lang.code]" ng-repeat="lang in gce.multiLang track by $index">
        <br/>
        fjsklfdj
        <input type="submit" value="保存" class="button button-block button-positive" ng-disabled="gceForm.$invalid ">
    </form>
</div>