<div style="position: absolute; left: 100px; top: 100px; right: 100px; bottom: 100px; background: rgba(255,255,255,0.8);" ng-controller="goodsAddController as goodsAdd" ng-init="goodsAdd.init()">
    新建商品
    <form name="goodsAddForm" ng-submit="goodsAddForm.$valid && goodsAdd.addGoods()">
        <ng-repeat ng-repeat="lang in goodsAdd.editLangs">
            <ng-if ng-if="lang.default">
                商品名 {{lang.name}}：<input ng-model="goodsAdd.name[lang.code]" required />
            </ng-if>
            <ng-if ng-if="lang.default !== true">
                商品名 {{lang.name}}：<input ng-model="goodsAdd.name[lang.code]" />
            </ng-if>
        </ng-repeat>
        <div ng-repeat="img in goodsAdd.imgs.data">
            <img src="{{img.src}}" alt="{{img.fileName}}" />
            大小： {{img.fileSize}}
            进度： {{img.progress}}
            剩余： {{img.leftSize}}
            <a ng-click="goodsAdd.imgs.deleteById(img.id); ">
                删除
            </a>
        </div>
        <input id="upload" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload"/>
        <a ng-click="goodsAdd.clickUpload('upload')">上传图片</a>
        <a id="hidenUpload" style="display: none;" ng-click="goodsAdd.imgs.uploadFile('myFile')"></a>
        单价(分)：<input ng-model="goodsAdd.price" required type="number" min="0"/>
        库存：<input ng-model="goodsAdd.invetory" required type="number" min="0"/>
        <ng-repeat ng-repeat="lang in goodsAdd.editLangs">
            <ng-if ng-if="lang.default == true">
                简介 {{lang.name}}：<textarea ng-model="goodsAdd.intro[lang.code]" required ></textarea>
            </ng-if>
            <ng-if ng-if="lang.default !== true">
                简介：{{lang.name}}：<textarea ng-model="goodsAdd.intro[lang.code]"></textarea>
            </ng-if>
        </ng-repeat>

        <button type="submit" ng-disabled="goodsAdd.saving">保存</button>
        <button ng-click="goodsAdd.cancel()">取消</button>
    </form>
</div>