<!-- 新建商品 -->
<div ng-controller="goodsAddController as goodsAdd" ng-init="goodsAdd.init()" class="modal-dialog">
    <div class="modal-content">
        <!-- loading -->
        <!-- form -->
        <form name="goodsAddForm" ng-submit="goodsAddForm.$valid && goodsAdd.addGoods()">
            <!--header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="goodsAdd.cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title">添加商品</h5>
            </div>
            <!--header end-->
            <!--body-->
            <div class="modal-body">
                <!-- 商品名 -->
                <ng-repeat ng-repeat="lang in goodsAdd.editLangs">
                    <div class="form-group" ng-show="lang.defaut==true">
                        <label>商品名({{lang.name}})</label>
                        <input type="text" name="" required ng-model="goodsAdd.name[lang.code]" class="form-control">
                    </div>
                    <div class="form-group" ng-show="lang.defaut!==true">
                        <label>商品名({{lang.name}})</label>
                        <input type="text" name="" required ng-model="goodsAdd.name[lang.code]" class="form-control">
                    </div>
                </ng-repeat>
                <!--商品图-->
                <div class="form-group">
                    <label>商品图片</label>
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- 图 -->
                            <div ng-repeat="img in goodsAdd.imgs.data" style="background-image: url({{img.src}})" class="form-thumbnail">
                                <!-- 进度条 -->
                                <div class="progress form-thumbnail-progress" ng-show="!({{img.progress}}==100)">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{img.progress}}%;">
                                    </div>
                                </div>
                                <!-- 删除按钮 -->
                                <i ng-click="goodsAdd.imgs.deleteById(img.id)" class="form-thumbnail-delete icon ion-close"></i>
                            </div>
                            <!-- 上传按钮 -->
                            <div ng-click="goodsAdd.clickUpload('upload')" class="form-thumbnail form-thumbnail-creat">
                                <i class="icon ion-upload"></i> 上传图片
                                <input id="upload" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload" />
                                <a id="hidenUpload" style="display: none;" ng-click="goodsAdd.imgs.uploadFile('myFile')"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/商品图-->
                <!-- 单价 -->
                <div class="form-group">
                    <label>单价</label>
                    <input ng-model="goodsAdd.price" required type="number" min="0" class="form-control" step="0.01" />
                </div>
                <!-- 库存 -->
                <div class="form-group">
                    <label>库存</label>
                    <input ng-model="goodsAdd.invetory" required type="number" min="0" class="form-control" />
                </div>
                <!-- 简介 -->
                <ng-repeat ng-repeat="lang in goodsAdd.editLangs">
                    <div class="form-group" ng-show="lang.defaut==true">
                        <label>简介({{lang.name}})</label>
                        <textarea ng-model="goodsAdd.intro[lang.code]" required class="form-control"></textarea>
                    </div>
                    <div class="form-group" ng-show="lang.defaut!==true">
                        <label>简介({{lang.name}})</label>
                        <textarea ng-model="goodsAdd.intro[lang.code]" required class="form-control"></textarea>
                    </div>
                </ng-repeat>
            </div>
            <!-- body end -->
            <!--footer-->
            <div class="modal-footer">
                <!-- 取消 -->
                <button type="button" class="btn btn-default btn-sm" ng-click="goodsAdd.cancel()">{{'CANCEL' | translate}}</button>
                <!-- 保存 -->
                <button type="submit" class="btn btn-primary  btn-sm" ng-disabled="goodsAdd.saving"><i class="icon ion-ios-checkmark-outline"></i> {{'SAVE' | translate}}</button>
            </div>
            <!--footer end-->
        </form>
    </div>
</div>
