
<div ng-controller="loginController as login" ng-init="login.init()">

    <!--<input type="hidden" ng-model="login">&lt;!&ndash;增加登陆状态监听&ndash;&gt;-->

    <div class="login-logo"></div>

    <form name="loginForm" ng-submit="loginForm.$valid && login.login()">

        <!-- 输入框容器 -->
        <div class="login-inputs">
            <!-- 项目 -->
            <input ng-model="login.projectName" type="text" placeholder="项目">
            <!-- 账号 -->
            <input ng-model="login.userName" type="text" placeholder="账号">
            <!-- 密码 -->
            <input ng-model="login.password" type="password" placeholder="密码">
            <!-- 提交按钮 -->
        	<button class="login-submit" title="登录">
        		<i class="icon ion-arrow-right-a"></i>
        	</button>
        </div>

    </form>
    <div ng-show="login.loading">loading...</div>
    <style type="text/css">
    /*.spinner {
        stroke: #fff;
        fill: #fff;
    }

    .spinner>svg {
        width: 36px;
        height: 36px;
    }*/

    .login-logo{
        position: absolute;
    	background-image: url(dist/imgs/icon-03.png);
        width: 100%;
        top: 12.5%;
        height: 21%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        min-height:90px
    }

    form{
    	display: flex;
    	justify-content: center;
    }

    .login-inputs {
    	position: absolute;
    	top: 42.86%;
        /*top: 50%;*/
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0;
    }


    input {
        text-indent: 0.25em;
        margin: 3px;
        padding: 4px;
        border-radius: 4px;
        background: rgba(255, 255, 255, .9);
        border: transparent;
        /*color: rgb(255, 255, 255);*/
        /*box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, .15);*/
        font-size: 16px;
        width: 140px;
    }

    /*input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { color: rgba(255,255,255,.63); }*/
    /*input:-ms-input-placeholder,textarea:-ms-input-placeholder {color: rgba(255,255,255,.63);}*/

    .login-inputs>input:nth-last-of-type(1){
        border-radius: 4px 0px 0px 4px;
    }

    .login-submit{
        background-color: rgba(255, 255, 255, .33);
        border: none;
        width: 28px;
        height: 28px;
        border-radius: 0px 4px 4px 0px;
        color: white;
        margin-left: -3px;
        opacity: 0.8
	}

	.login-submit:hover{
		opacity: 1
	}

    </style>
</div>