<!-- 酒店/客房管理>添加客房弹窗 -->
<div ng-controller="roomAddController as roomAdd" ng-init="roomAdd.init();" class="autoscroll modal-dialog" style="height: 100%;">
    <div class="modal-content">
        <!--header-->
        <div class="modal-header">
            <button type="button" class="close" ng-click="roomAdd.cancel()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title">{{'ROOM_ADD' | translate}}</h5>
        </div>
        <!--header end-->
        <!--body-->
        <div class="modal-body">
            <div ng-show="loading">loading...</div>
            <form id="roomAddForm" name="roomAddForm" ng-submit="roomAddForm.$valid && roomAdd.save()" role="form">
                <!--客房名-->
                <div class="form-group">
                    <ng-repeat ng-repeat="lang in roomAdd.editLangs">
                        <div class="form-group">
                            <ng-if ng-if="lang.default">
                                <label for="roomNameCN">客房名 {{lang.name}}：</label>
                                <input type="text" class="form-control" id="roomNameCN" placeholder="请输入客房名"
                                       ng-model="roomAdd.room.RoomTypeName[lang.code]" required/>
                            </ng-if>
                        </div>
                        <div class="form-group">
                            <ng-if ng-if="lang.default !== true">
                                <label for="roomNameEN">客房名 {{lang.name}}：</label>
                                <input type="text" class="form-control" id="roomNameEN" placeholder="Enter the name"
                                       ng-model="roomAdd.room.RoomTypeName[lang.code]"/>
                            </ng-if>
                        </div>
                    </ng-repeat>
                </div>
                <!--/客房名-->



                <!--客房图-->
                <div class="form-group">
                    <label>客房图片</label>
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- 图 -->
                            <div ng-repeat="img in roomAdd.imgs.data" style="background-image: url({{img.src}})" class="form-thumbnail">
                                <!-- 进度条 -->
                                <div class="progress form-thumbnail-progress" ng-show="!({{img.progress}}==100)">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{img.progress}}%;">
                                    </div>
                                </div>
                                <!-- 关闭按钮 -->
                                <i ng-click="roomAdd.imgs.deleteById(img.id);" class="form-thumbnail-delete icon ion-close"></i>
                            </div>
                            <!-- 上传按钮 -->
                            <div ng-click="roomAdd.clickUpload('upload')" class="form-thumbnail form-thumbnail-creat">
                                <i class="icon ion-upload"></i>
                                上传图片
                                <input id="upload" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload" />
                                <a id="hidenUpload" style="display: none;" ng-click="roomAdd.imgs.uploadFile('myFile', roomAdd.imgs)"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/客房图-->



                <!--标签-->
                <div class="form-group">
                    <label>客房标签：</label>
                    <ng-repeat ng-repeat="tag in roomAdd.tags track by $index">
                        <label class="btn btn-default" ng-model="roomAdd.ifCheckedTags[$index].checked"
                               uib-btn-checkbox ng-hide="roomAdd.ifCheckedTags[$index].checked">{{tag.TagName[roomAdd.defaultLangCode]}}
                        </label>
                    </ng-repeat>
                </div>
                <div class="form-group">
                    <label>已选标签：</label>
                    <ng-repeat ng-repeat="tag in roomAdd.tags track by $index">
                        <label class="btn btn-default" ng-model="roomAdd.ifCheckedTags[$index].checked"
                               uib-btn-checkbox ng-show="roomAdd.ifCheckedTags[$index].checked">{{tag.TagName[roomAdd.defaultLangCode]}}
                        </label>
                    </ng-repeat>
                </div>
                <!--/标签-->
                <div class="row">
                    <!-- 客房介绍摘要 -->
                    <ng-repeat ng-repeat="lang in roomAdd.editLangs">
                        <ng-if ng-if="lang.default">
                            <div class="col-md-12 form-group">
                                <label>客房介绍摘要 {{lang.name}}：</label>
                                <textarea class="form-control" rows="1" ng-model="roomAdd.room.Roomsummary[lang.code]"
                                          required maxlength="50"></textarea>
                            </div>
                        </ng-if>
                        <ng-if ng-if="lang.default !== true">
                            <div class="col-md-12 form-group">
                                <label>客房介绍摘要 {{lang.name}}：</label>
                                <textarea class="form-control" rows="1" ng-model="roomAdd.room.Roomsummary[lang.code]"
                                          maxlength="50"></textarea>
                            </div>
                        </ng-if>
                    </ng-repeat>
                    <!-- /客房介绍摘要 -->
                    <!-- 客房介绍 -->
                    <ng-repeat ng-repeat="lang in roomAdd.editLangs">
                        <ng-if ng-if="lang.default">
                            <div class="col-md-12 farm-group" style="margin-bottom: 20px;">
                                <label>客房介绍 {{lang.name}}：</label>
                                <textarea class="form-control" rows="2" ng-model="roomAdd.room.Description[lang.code]"
                                          required></textarea>
                            </div>
                        </ng-if>
                        <ng-if ng-if="lang.default !== true">
                            <div class="col-md-12 form-group">
                                <label>客房介绍 {{lang.name}}：</label>
                                <textarea class="form-control" rows="2"
                                          ng-model="roomAdd.room.Description[lang.code]"></textarea>
                            </div>
                        </ng-if>
                    </ng-repeat>
                    <!-- /客房介绍 -->
                </div>
            </form>
            <div ng-show="saving">saving</div>
        </div>
        <!--body end-->
        <!--footer-->
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="roomAdd.cancel()">
                {{'CANCEL' | translate}}
            </button>
            <button type="submit" class="btn btn-primary" form="roomAddForm">
                {{'SAVE' | translate}}
            </button>
        </div>
        <!--footer end-->
    </div>
</div>





