<div ng-controller="roomEditPriceController as roomEditPrice" ng-init="roomEditPrice.init()" class="autoscroll modal-dialog">
    <div class="modal-content">
        <!-- loading -->
        <div ng-show="loading">loading...</div>
        <!-- loadingAddPrice -->
        <div ng-show="loadingAddPrice">loadingAddPrice...</div>
        <!-- form -->
        <form id="roomEditPriceForm" name="roomEditPriceForm" ng-submit="roomEditPriceForm.$valid && roomEditPrice.save()" role="form">
            <!--header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="roomEditPrice.cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title">价格</h5>
            </div>
            <!--header end-->
            <!--body-->
            <div class="modal-body">
                <!-- 常规 -->
                <label>平时价格</label>
                <br>
                <div class="weeklysetting">
                    <div class="form-group">
                        <small>周一</small>
                        <input type="number" class="form-control" ng-model="roomEditPrice.roomDetail.PriceMonday" required placeholder="（必填）" step='0.01' min="0" >
                    </div>
                    <div class="form-group">
                        <small>周二</small>
                        <input type="number" class="form-control" ng-model="roomEditPrice.roomDetail.PriceTuesday" required placeholder="（必填）" step='0.01' min="0">
                    </div>
                    <div class="form-group">
                        <small>周三</small>
                        <input type="number" class="form-control" ng-model="roomEditPrice.roomDetail.PriceWednesday" required placeholder="（必填）" step='0.01' min="0">
                    </div>
                    <div class="form-group">
                        <small>周四</small>
                        <input type="number" class="form-control" ng-model="roomEditPrice.roomDetail.PriceThursday" required placeholder="（必填）" step='0.01' min="0">
                    </div>
                    <div class="form-group">
                        <small>周五</small>
                        <input type="number" class="form-control" ng-model="roomEditPrice.roomDetail.PriceFriday" required placeholder="（必填）" step='0.01' min="0">
                    </div>
                    <div class="form-group">
                        <small>周六</small>
                        <input type="number" class="form-control" ng-model="roomEditPrice.roomDetail.PriceSaturday" required placeholder="（必填）" step='0.01' min="0">
                    </div>
                    <div class="form-group">
                        <small>周日</small>
                        <input type="number" class="form-control" ng-model="roomEditPrice.roomDetail.PriceSunday" required placeholder="（必填）" step='0.01' min="0">
                    </div>
                </div>
                <!-- 常规 end-->
                <!-- 特殊 -->
                <label>临时设置</label>
                <a type="button" ng-click="roomEditPrice.addTemporary(0)">添加设置</a>
                <ul class="setting-group">
                    <!-- 设置块 -->
                    <li class="setting-group-item " ng-repeat="reply in roomEditPrice.SpecialPrice">
                        <div class="row">
                            <!-- 日期选择器 -->
                            <div class="col-xs-7 col-condensed">
                                <small>日期</small>
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="roomEditPrice.SpecialPrice[$index].PriceDate" is-open="roomEditPrice.SpecialPrice[$index].Opened" datepicker-options="dateOptions" required placeholder="（必填）" close-text="Close" placeholder="请选择日期" ng-click="roomEditPrice.open($index)" />
                            </div>
                            <!-- 数字输入框 -->
                            <div class="col-xs-4 col-condensed">
                                <small>价格</small>
                                <input type="number" class="form-control" ng-model="roomEditPrice.SpecialPrice[$index].Price" required placeholder="请输入价格（必填）" step='0.01' min="0" />
                                <!-- {{roomEditPrice.SpecialPrice[$index].Price | currency : '￥'}} -->
                            </div>
                            <!-- 关闭按钮 -->
                            <div class="col-xs-1 col-condensed">
                                <button type="button" data-dismiss="modal" ng-click="roomEditPrice.deleteTemporary($index)" class="button button-light setting-group-delete">
                                    <i class="ion-ios-close-outline"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                    <!--设置块 end-->
                </ul>
                <!-- 特殊 end -->
                <!-- row end -->
            </div>
            <!--body end-->

            <!--footer-->
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="roomEditPrice.cancel()">{{'CANCEL' | translate}}</button>
                <button class="btn btn-primary" type="submit" ng-disabled="roomEditPrice.saving" form="roomEditPriceForm">{{'SAVE' | translate}}</button>
            </div>
            <!--footer end-->
        </form>
        
        <!-- form -->
        <form id="roomEditAddPriceForm" name="roomEditAddPriceForm" ng-submit="roomEditAddPriceForm.$valid && roomEditPrice.saveAddPrice()" role="form">
            <!--header-->
            <div class="modal-header">
                <h5 class="modal-title">变价</h5>
            </div>
            <!--header end-->
            <!--body-->
            <div class="modal-body">
                <!-- 变价 -->
                <a type="button" ng-click="roomEditPrice.addAddPrice()">添加变价</a>
                <ul class="setting-group">
                    <!-- 块 -->
                    <li class="setting-group-item " ng-repeat="addPrice in roomEditPrice.addPrice">
                        <div class="row">
                            <!-- 变价名称 -->
                            <div ng-repeat="lan in roomEditPrice.multiLang" class="col-xs-4 col-condensed">
                                <small>名称（{{lan.code}}）</small>
                                <input type="text" class="form-control" ng-model="addPrice.Name[lan.code]" required placeholder="请输入名称" />
                            </div>
                            <!-- 变价描述 -->
                            <div ng-repeat="lan in roomEditPrice.multiLang" class="col-xs-4 col-condensed">
                                <small>描述（{{lan.code}}）</small>
                                <input type="text" class="form-control" ng-model="addPrice.Desc[lan.code]" required placeholder="请输入描述" />
                            </div>
                            <!-- 数字输入框 -->
                            <div class="col-xs-3 col-condensed">
                                <small>价格</small>
                                <input type="number" class="form-control" ng-model="addPrice.Price" required placeholder="请输入价格" step='0.01' min="0" />
                            </div>
                            <!-- 关闭按钮 -->
                            <div class="col-xs-1 col-condensed">
                                <button type="button" ng-click="" class="button button-light setting-group-delete">
                                    <i class="ion-ios-close-outline"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                    <!--块 end-->
                </ul>
                <!-- 变价 end -->
                <!-- row end -->
            </div>
            <!--body end-->

            <!--footer-->
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="roomEditPrice.cancel()">{{'CANCEL' | translate}}</button>
                <button class="btn btn-primary" type="submit" ng-disabled="roomEditPrice.savingAddPrice" form="roomEditAddPriceForm">{{'SAVE' | translate}}</button>
            </div>
            <!--footer end-->
        </form>
    </div>
</div>
