<div ng-controller="roomController as room" ng-init="room.init()">
    <h2>{{room.hotelName}}</h2>
    <div>
        <div><button ng-click="room.hotelRoomEdit()">编辑</button></div>
        <div>{{'HOTEL_ADDRESS' | translate}}:{{room.hotelAddress}}</div>
        <div>{{'HOTEL_DESCRUOTION' | translate}}:{{room.hotelDescription}}</div>
    </div>
    <div>
        <h3>{{'ROOM_LIST' | translate}}</h3>
        <div><button ng-click="room.roomAdd()">{{'ROOM_ADD' | translate}}</button></div>
        <table ng-table="room.tableParams" ng-init="room.search()">
            <tbody>
                <tr ng-repeat="item in $data">
                    <td><img ng-src="{{item.LogoImgURL}}"></td>
                    <td>{{item.RoomTypeName[room.lang]}}</td>
                    <td></td>
                    <td>
                        <button>复制</button>
                        <button ng-click="room.roomEditNum(item.RoomID)">改数量</button>
                        <button ng-click="room.roomEditPrice(item.RoomID)">该价格</button>
                        <button ng-click="room.roomEdit(item.RoomID)">查看详情</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>