<div ng-controller="roomAddController as roomAdd" ng-init="roomAdd.init()" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; border:1px red solid; background: rgba(255,255,255,0.8);">

    <span>{{'ROOM_ADD' | translate}}</span>
    <div>
        <div ng-show="loading">loading...</div>
        <form name="roomAddForm" ng-submit="roomAddForm.$valid && roomAdd.save()">
            <div>
                <!-- 客房名 -->
                <ng-repeat ng-repeat="lang in roomAdd.editLangs">
                    <ng-if ng-if="lang.default">
                        客房名 {{lang.name}}：<input ng-model="roomAdd.room.RoomTypeName[lang.code]" required />
                    </ng-if>
                    <ng-if ng-if="lang.default !== true">
                        客房名 {{lang.name}}：<input ng-model="roomAdd.room.RoomTypeName[lang.code]" />
                    </ng-if>
                </ng-repeat>
                <!-- 客房名 -->
            </div>
            <div>

                <!-- 客房图 -->
                <div ng-repeat="img in roomAdd.imgs.data">
                    <img src="{{img.src}}" alt="{{img.fileName}}" />
                    大小： {{img.fileSize}}
                    进度： {{img.progress}}
                    剩余： {{img.leftSize}}
                    <a ng-click="roomAdd.imgs.deleteById(img.id); ">
                     删除
                    </a>
                </div>
                <!-- 客房图 -->
                
                <!-- 上传图片按钮 -->
                <input id="upload" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload"/>
                <a ng-click="roomAdd.clickUpload('upload')">上传图片</a>
                <a id="hidenUpload" style="display: none;" ng-click="roomAdd.imgs.uploadFile('myFile', roomAdd.imgs)"></a>
                <!-- 上传图片按钮 -->


            </div>
            <div>
                <!-- 标签 -->
                <ng-repeat ng-repeat="tag in roomAdd.tags track by $index">
                    <input type="checkbox" ng-model="roomAdd.ifCheckedTags[$index].checked" /> {{tag.ID}} {{tag.TagImageURL}} {{tag.TagName[roomAdd.defaultLangCode]}}
                </ng-repeat>
                <!-- 标签 -->
            </div>
            <div>
                <!-- 客房介绍摘要 -->
                <ng-repeat ng-repeat="lang in roomAdd.editLangs">
                    <ng-if ng-if="lang.default">
                        客房介绍摘要 {{lang.name}}：<textarea ng-model="roomAdd.room.Roomsummary[lang.code]" required rows="1" maxlength="50"></textarea>
                    </ng-if>
                    <ng-if ng-if="lang.default !== true">
                        客房介绍摘要 {{lang.name}}：<textarea ng-model="roomAdd.room.Roomsummary[lang.code]" rows="1" maxlength="50"></textarea>
                    </ng-if>
                </ng-repeat>
                <!-- 客房介绍摘要 -->
            </div>
            <div>
                <!-- 客房介绍 -->
                <ng-repeat ng-repeat="lang in roomAdd.editLangs">
                    <ng-if ng-if="lang.default">
                        客房介绍 {{lang.name}}：<textarea ng-model="roomAdd.room.Description[lang.code]" required></textarea>
                    </ng-if>
                    <ng-if ng-if="lang.default !== true">
                        客房介绍 {{lang.name}}：<textarea ng-model="roomAdd.room.Description[lang.code]"></textarea>
                    </ng-if>
                </ng-repeat>
                <!-- 客房介绍 -->
            </div>
            <div>
                <button ng-click="roomAdd.cancel()">{{'CANCEL' | translate}}</button>
                <button type="submit">{{'SAVE' | translate}}</button>
            </div>
        </form>
        <div ng-show="saving">saving</div>
    </div>
</div>