<div ng-controller="roomEditController as roomEdit" ng-init="roomEdit.init()" class="modal-dialog">
    <div class="modal-content">
        <!--header-->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="roomEdit.cancel()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h5 class="modal-title">客房详情</h5>
        </div>
        <!--header end-->
        <!--body-->
        <div class="modal-body">
            <div ng-show="loading">loading...</div>
            <!-- form -->
            <form id="roomEditForm" name="roomEditForm" ng-submit="roomEditForm.$valid && roomEdit.save()" role="form">
                <!--客房名-->
                <div class="form-group">
                    <ng-repeat ng-repeat="lang in roomEdit.editLangs">
                        <div class="form-group">
                            <ng-if ng-if="lang.default">
                                <label for="roomNameCN">客房名 {{lang.name}}：</label>
                                <input type="text" class="form-control" id="roomNameCN" placeholder="请输入客房名" ng-model="roomEdit.room.RoomTypeName[lang.code]" required/>
                            </ng-if>
                        </div>
                        <div class="form-group">
                            <ng-if ng-if="lang.default !== true">
                                <label for="roomNameEN">客房名 {{lang.name}}：</label>
                                <input type="text" class="form-control" id="roomNameEN" placeholder="Enter the name" ng-model="roomEdit.room.RoomTypeName[lang.code]" />
                            </ng-if>
                        </div>
                    </ng-repeat>
                </div>
                <!--/客房名-->
                <!--客房图-->
                <div class="row">
                    <div class="col-xs-12">
                        <label>客房图片</label>
                        <!-- 图 -->
                        <div ng-repeat="img in roomEdit.imgs.data" style="background-image: url({{img.src}})" class="form-thumbnail">
                            <!-- 进度条 -->
                            <div class="progress form-thumbnail-progress" ng-show="!({{img.progress}}==100)">
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{img.progress}}%;">
                                </div>
                            </div>
                            <!-- 关闭按钮 -->
                            <i ng-click="roomEdit.imgs.deleteById(img.id);" class="form-thumbnail-delete icon ion-close"></i>
                        </div>
                    </div>
                </div>
                <!--/客房图-->
                <!--上传图片按钮-->
                <input id="upload" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload" />
                <div class="col-md-12 text-center" style="margin-top: 10px; margin-bottom: 10px;">
                    <a class="btn btn-primary center-block" ng-click="roomEdit.clickUpload('upload')">上传图片</a>
                </div>
                <a id="hidenUpload" style="display: none;" ng-click="roomEdit.imgs.uploadFile('myFile', roomEdit.imgs)"></a>
                <!--/上传图片按钮-->
                <!--标签-->
                <div class="form-group">
                    <label>已选标签：</label>
                    <ng-repeat ng-repeat="tag in roomEdit.tags track by $index">
                        <label class="btn btn-default" ng-model="roomEdit.ifCheckedTags[$index].checked" uib-btn-checkbox>
                            <!--<input type="checkbox" ng-model="roomEdit.ifCheckedTags[$index].checked"/>-->
                            {{tag.TagName[roomEdit.defaultLangCode]}}
                        </label>
                    </ng-repeat>
                </div>
                <!--/标签-->
                <div class="row">
                    <!-- 客房介绍摘要 -->
                    <ng-repeat ng-repeat="lang in roomEdit.editLangs">
                        <ng-if ng-if="lang.default">
                            <div class="col-md-12 form-group">
                                <label>客房介绍摘要 {{lang.name}}：</label>
                                <input class="form-control" rows="1" ng-model="roomEdit.room.Roomsummary[lang.code]" required maxlength="50"></input>
                            </div>
                        </ng-if>
                        <ng-if ng-if="lang.default !== true">
                            <div class="col-md-12 form-group">
                                <label>客房介绍摘要 {{lang.name}}：</label>
                                <input class="form-control" rows="1" ng-model="roomEdit.room.Roomsummary[lang.code]" maxlength="50"></input>
                            </div>
                        </ng-if>
                    </ng-repeat>
                    <!-- /客房介绍摘要 -->
                    <!-- 客房介绍 -->
                    <ng-repeat ng-repeat="lang in roomEdit.editLangs">
                        <ng-if ng-if="lang.default">
                            <div class="col-md-12 farm-group" style="margin-bottom: 20px;">
                                <label>客房介绍 {{lang.name}}：</label>
                                <textarea class="form-control" rows="2" ng-model="roomEdit.room.Description[lang.code]" required></textarea>
                            </div>
                        </ng-if>
                        <ng-if ng-if="lang.default !== true">
                            <div class="col-md-12 form-group">
                                <label>客房介绍 {{lang.name}}：</label>
                                <textarea class="form-control" rows="2" ng-model="roomEdit.room.Description[lang.code]"></textarea>
                            </div>
                        </ng-if>
                    </ng-repeat>
                    <!-- /客房介绍 -->
                </div>
                <!-- 删除按钮 -->
                <button type="button" class="btn btn-danger" ng-click="roomEdit.deleteRoom()">{{'DELETE' | translate}}</button>
            </form>
            <div ng-show="saving">saving</div>
        </div>
        <!--body end-->
        <!--footer-->
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="roomEdit.cancel()">{{'CANCEL' | translate}}</button>
            <button type="submit" class="btn btn-primary" form="roomEditForm">{{'SAVE' | translate}}</button>
        </div>
        <!--footer end-->
    </div>
    <div uib-alert ng-repeat="alert in roomEdit.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="roomEdit.closeAlert($index, alert.reload)">{{alert.msg}}
    </div>
</div>
