<div ng-controller="routeAddController as routeAdd" ng-init="routeAdd.init()" class="modal-dialog modal-sm">
    <div class="modal-content">
        <!-- form -->
        <form novalidate name="routeAddForm" ng-submit="routeAddForm.$valid && routeAdd.saveForm()">
            <!--header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="routeAdd.cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title">添加路线</h5>
            </div>
            <!--header end-->
            <!--body-->
            <div class="modal-body">
                <!-- 商城标识 -->
                <div class="form-group">
                    <label>路线名称：</label>
                    <input type="text" name="" required placeholder="（必填）" ng-model="routeAdd.Name" class="form-control">
                </div>
                <!-- 商城标识 -->
                <div class="form-group">
                    <label>路线类型：</label>
                    <select name="" required ng-model="routeAdd.Type">
                        <option value="普通">普通路线</option>
                        <option value="机场">机场路线</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>管理员手机／400电话：</label>
                    <input type="text" name="" required placeholder="（必填）" ng-model="routeAdd.Phone" class="form-control">
                </div>
            </div>
            <!--body end-->
            <!--footer-->
            <div class="modal-footer">
                <!-- 取消 -->
                <button type="button" class="btn btn-default btn-sm" ng-click="routeAdd.cancel()">{{'CANCEL' | translate}}</button>
                <!-- 保存 -->
                <button type="submit" class="btn btn-primary  btn-sm" ng-disabled="routeAddForm.$invalid || routeAdd.saving">
                    <i class="icon ion-ios-checkmark-outline"></i> 
                    <ng-if ng-if="!routeAdd.saving">{{'SAVE' | translate}}</ng-if>
                    <ng-if ng-if="routeAdd.saving">保存中...</ng-if>
                </button>
            </div>
            <!--footer end-->
        </form>
    </div>
</div>
