
<!-- 商城管理 -->
<div ng-controller="shopController as shop" ng-init="shop.init()" class="container">

	<!-- loading -->
    <div ng-show="shop.loading">loading...</div>

    <!-- 查无数据 -->
    <div ng-show="shop.noData">查无数据</div>

	<!-- 左侧菜单 -->
    <div class="nav-left ">
        <ul class="nav nav-stacked nav-left-content">
            <li class="nav-header" ng-repeat="shopItem in shop.shopList">
            	<a class="theme-hover" ng-click="shop.goTo(shopItem.ShopID,shopItem.HotelID,shopItem.ShopName,shopItem.HotelName,shopItem.ShopType)">
					{{shopItem.ShopName[shop.langStyle]}}
					<br><small>{{shopItem.HotelName[shop.langStyle]}}</small>
            	</a>
            </li>
        	<li class="nav-header">
        		<a class="theme-hover" ng-click="shop.shopAdd()">
                    <i class="icon ion-android-add-circle"></i> 添加商城
        		</a>
        	</li>
        </ul>
    </div>

    <!-- 右侧 -->
    <ui-view></ui-view>

    <!-- 主题样式 -->
    <style type="text/css">
    	
    	a.theme-hover{
    		color:rgb(151,151,151);
    	}
    	a.theme-hover:hover{
    		color: rgb(255,100,55);
    	}

    	.theme-color{
    		color: rgb(255,100,55);	
    	}

    </style>
</div>
