<div ng-controller="shopEditController as shopEdit" ng-init="shopEdit.init()" class="modal-dialog modal-sm">
    <div class="modal-content">
        <!-- loading -->
        <!-- form -->
        <form novalidate name="shopEditForm" ng-submit="shopEditForm.$valid && shopEdit.saveForm()">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="shopEdit.cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title">修改商城信息</h5>
            </div>
            <!-- body -->
            <div class="modal-body">

                <!-- 商城标识 -->
                <div class="form-group">
                    <label>商城标识：</label>
                    <input type="text" name="" required placeholder="（必填）" ng-model="shopEdit.ShopType" class="form-control">
                </div>
                <!-- 商城标识 -->

                <!-- 商城名称 -->
                <ng-repeat ng-repeat="lang in shopEdit.multiLang track by $index">
                    <div class="form-group" ng-if="lang.default==true">
                        <label>商城名字：({{lang.name}})</label>
                        <input type="text" name="" required placeholder="（必填）" ng-model="shopEdit.shopInfo[lang.code]" class="form-control">
                    </div>
                    <div class="form-group" ng-if="lang.default!==true">
                        <label>商城名字：({{lang.name}})</label>
                        <input type="text" name="" ng-model="shopEdit.shopInfo[lang.code]" class="form-control">
                    </div>
                </ng-repeat>

                <div class="form-group">
                    <label>客服电话（电视商城）：</label>
                    <input type="text" name="" ng-model="shopEdit.ServiceTelephone" class="form-control">
                </div>
                <div class="form-group">
                    <label>支持货到付款（电视商城）：</label>
                    <toggle ng-model="shopEdit.PayCash"></toggle>
                </div>
                <div class="form-group">
                    <label>支持在线支付：</label>
                    <toggle ng-model="shopEdit.PayOnline"></toggle>
                </div>

            </div>
            <!-- body-end -->
            <!-- footer -->
            <div class="modal-footer">
                <!-- 取消 -->
                <button type="button" class="btn btn-default btn-sm" ng-click="shopEdit.cancel()">{{'CANCEL' | translate}}</button>
                <!-- 删除 -->
                <button type="button" class="btn btn-danger btn-sm" ng-click="shopEdit.deleteShop()" ng-disabled="shopEdit.saving"><i class="glyphicon glyphicon-trash"></i> {{'DELETE' | translate}}</button>
                <!-- 保存 -->
                <button type="submit" class="btn btn-primary  btn-sm" ng-disabled="shopEditForm.$invalid || shopEdit.saving">
                    <i class="icon ion-ios-checkmark-outline"></i> {{'SAVE' | translate}}
                </button>
            </div>
            <!-- footer end -->
        </form>
        <!-- form end -->
    </div>
</div>