<div ng-controller="shopAddController as shopAdd" ng-init="shopAdd.init()" class="modal-dialog modal-sm">
    <div class="modal-content">
        <!-- loading -->
        <div ng-show="shop.loading">loading...</div>
        <div ng-show="shop.noData">查无数据</div>
        <!-- form -->
        <form novalidate name="shopAddForm" ng-submit="shopAddForm.$valid && shopAdd.saveForm()">
            <!--header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="shopAdd.cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title">添加商城</h5>
            </div>
            <!--header end-->
            <!--body-->
            <div class="modal-body">
                <!-- 商城标识 -->
                <div class="form-group">
                    <label>商城标识：</label>
                    <input type="text" name="" required ng-model="shopAdd.ShopType" class="form-control">
                </div>
                <!-- 商城标识 -->

                <!-- 商城名称 -->
                <ng-repeat ng-repeat="lang in shopAdd.multiLang track by $index">
                    <div class="form-group" ng-show="lang.defaut==true">
                        <label>商城名字：({{lang.name}})</label>
                        <input type="text" name="" required ng-model="shopAdd.form.shopName[lang.code]" class="form-control">
                    </div>
                    <div class="form-group" ng-show="lang.defaut!==true">
                        <label>商城名字：({{lang.name}})</label>
                        <input type="text" name="" required ng-model="shopAdd.form.shopName[lang.code]" class="form-control">
                    </div>
                </ng-repeat>
                <!-- 绑定门店 -->
                <div class="form-group">
                    <label>绑定门店</label>
                    <div ng-repeat="hotel in shopAdd.hotelList" class="radio">
                        <label>
                            <input type="radio" name="hotelName" value="{{hotel.ID}}" ng-model="shopAdd.form.HotelID">{{hotel.Name[shopAdd.langStyle]}}
                        </label>
                    </div>
                    <div ng-show="shopAdd.noData">请先添加门店</div>
                </div>
            </div>
            <!--body end-->
            <!--footer-->
            <div class="modal-footer">
                <!-- 取消 -->
                <button type="button" class="btn btn-default btn-sm" ng-click="shopAdd.cancel()">{{'CANCEL' | translate}}</button>
                <!-- 保存 -->
                <button type="submit" class="btn btn-primary  btn-sm" ng-disabled="shopAddForm.$invalid || shopAdd.saving">
                    <i class="icon ion-ios-checkmark-outline"></i> {{'SAVE' | translate}}
                </button>
            </div>
            <!--footer end-->
        </form>
    </div>
</div>
