<div ng-controller="ticketController as ticketCtr" ng-init="ticketCtr.init()" class="container">
    <!-- 右侧部分 -->
    <div class="content-right">
        <!--当前选中名称-->
        <h4>门票管理</h4>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <a ng-click="ticketCtr.add()" class="button button-light ng-binding">
                    <i class="icon ion-ios-plus-outline"></i> 添加门票
                </a>
            </div>
        </div>
        <table class="table table-hover table-condensed" ng-show="!ticketCtr.loading">
            <tr>
                <td>ID</td>
                <td>门票名称</td>
                <td>门票描述</td>
                <td>操作</td>
            </tr>
            <tr ng-repeat="item in ticketCtr.ticketList">
                <td>{{item.ID}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Description}}</td>
                <td>
                    <a ng-click="ticketCtr.delete(item.ID)">删除</a>
                    <a ng-click="ticketCtr.edit(item.ID)">编辑</a>
                </td>
            </tr>
        </table>
        <div ng-show="ticketCtr.loading">loading...</div>
        <div ng-show="ticketCtr.noData">查无数据</div>
    </div>
</div>
