<div ng-controller="tvAdminController as tvAdmin" ng-init="tvAdmin.init(); tvAdmin.tab=1 " class="container padding-bottom-72">
    <!--for test-->
    <!-- {{my_tree.get_selected_branch()}} -->
    <!--for test-->
    <style type="text/css">
    ul.abn-tree li.abn-tree-row {
        margin-top: 2px;
        margin-left: 0;
    }
    
    .ul.abn-tree li.abn-tree-row a {
        position: relative;
        display: block;
        padding: 10px 15px;
        color: #818181;
    }
    
    .nav-pills>li>a {
        border-radius: 0;
    }
    
    .nav-pills>li.active>a,
    .nav-pills>li.active>a:focus,
    .nav-pills>li.active>a:hover {
        color: #000 !important;
        margin-bottom: 6px;
        background: transparent;
        border-bottom: solid 1px {{app.activeAppThemeColor}};
    }
    
    .nav>li>a:focus,
    .nav>li>a:hover {
        color: {{app.activeAppThemeColor}};
    }
    </style>
    <!-- 左侧菜单 -->
    <div class="nav-left ">
        <ul class="nav nav-stacked nav-left-content">
            <span ng-if="doing_async">...loading...</span>
            <abn-tree tree-data="my_data" tree-control="my_tree" icon-leaf="" on-select="my_tree_handler(branch); tvAdmin.tab=1" initial-selection="{{tvAdmin.initS}}" expand-level="2"></abn-tree>
        </ul>
    </div>
    <!-- 右侧 -->
    <div class="content-right">
        <!--欢迎页-->
        <ng-if ng-if="my_tree.get_selected_branch().data.type=='welcome'">
            <!-- 标题 -->
            <h4>{{my_tree.get_selected_branch().label}}</h4>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <!--欢迎页风格图-->
                    <div class="form-group">
                        <label>模板风格</label>
                        <!--更改模版按钮-->
                        <a ng-click="tvAdmin.changeWelStyle()">更改模版</a>
                        <!--欢迎页风格图-->
                        <div class="form-thumbnail form-thumbnail-screen-lg" style="background-image: url({{my_tree.get_selected_branch().data.styleImg}});"></div>
                    </div>
                    <!--/form-group-->
                </div>
            </div>
        </ng-if>
        <!--/欢迎页end-->
        <!--主菜单-->
        <ng-if ng-if="my_tree.get_selected_branch().data.type=='menuRoot'">
            <!-- 标题 -->
            <h4>{{my_tree.get_selected_branch().label}}</h4>
            <hr>
            <!--tab-->
            <ul class="nav nav-tabs">
                <li ng-class="{'active':(tvAdmin.tab==1)}" class="cursor-pointer">
                    <a ng-click="tvAdmin.tab=1">模块内容</a>
                </li>
                <li ng-class="{'active':(tvAdmin.tab==2)}" class="cursor-pointer">
                    <a role="tab" ng-click="tvAdmin.tab=2">模块信息</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane padding-bottom-72" ng-class="{'in active':(tvAdmin.tab==2)}">
                    <div class="row">
                        <div class="col-xs-6">
                            <!--菜单风格图-->
                            <div class="form-group">
                                <label>模板风格</label>
                                <!--更改模版按钮-->
                                <a ng-click="tvAdmin.changeMainStyle()">更改模板</a>
                                <div class="form-thumbnail form-thumbnail-screen-lg" style="background-image: url({{my_tree.get_selected_branch().data.styleImg}});"></div>
                            </div>
                            <!--菜单风格图-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane" ng-class="{'in active':(tvAdmin.tab==1)}">
                    <div class="row">
                        <div class="col-xs-6">
                            <!--添加菜单-->
                            <a ng-click="tvAdmin.addMenu(1)" class="button button-light ng-binding">
                                <i class="icon ion-ios-plus-outline"></i> 添加菜单
                            </a>
                            <!--添加菜单-->
                            <br>
                            <!--添加模块-->
                            <a ng-click="tvAdmin.addModule(1)" class="button button-light ng-binding">
                                <i class="icon ion-ios-plus-outline"></i> 添加模块
                            </a>
                            <!--添加模块-->
                            <!--主菜单-->
                        </div>
                    </div>
                </div>
            </div>

        </ng-if>
        <!-- 一级菜单 -->
        <ng-if ng-if="my_tree.get_selected_branch().data.type=='MainMenu_THJ_SecondMenu' 
            || my_tree.get_selected_branch().data.type=='MainMenu_LiFeng_SecondMenu'
            || my_tree.get_selected_branch().data.type=='MainMenu_SX_SecondMenu'
            || my_tree.get_selected_branch().data.type=='MainMenu_Yeste_SecondMenu'
            || my_tree.get_selected_branch().data.type=='Live'
            || my_tree.get_selected_branch().data.type=='SimplePicText'
            || my_tree.get_selected_branch().data.type=='MultPic'
            || my_tree.get_selected_branch().data.type=='LiFeng_MultPic'
            || my_tree.get_selected_branch().data.type=='ZheFei_MultPic'
            || my_tree.get_selected_branch().data.type=='PicText_Classification'
            || my_tree.get_selected_branch().data.type=='SimpleSmallPicText'
            || my_tree.get_selected_branch().data.type=='LiFeng_SimpleSmallPicText'
            || my_tree.get_selected_branch().data.type=='LiFeng_SimpleSmallPicText_Left'
            || my_tree.get_selected_branch().data.type=='ZheFei_SimpleSmallPicText_Small'
            || my_tree.get_selected_branch().data.type=='ZheFei_SimpleSmallPicText_Carousel'
            || my_tree.get_selected_branch().data.type=='Yeste_SimpleSmallPicText_Carousel'
            || my_tree.get_selected_branch().data.type=='Yeste_SimpleSmallPicText'
            || my_tree.get_selected_branch().data.type=='MultPic_SX_Small'
            || my_tree.get_selected_branch().data.type=='MultPic_SX_Big'
            || my_tree.get_selected_branch().data.type=='SimplePicText_Price'
            || my_tree.get_selected_branch().data.type=='SimplePicText_SX'
            || my_tree.get_selected_branch().data.type=='Weather_SX'
            || my_tree.get_selected_branch().data.type=='Yeste_Weather'
            || my_tree.get_selected_branch().data.type=='PicText_Classification_SX'
            || my_tree.get_selected_branch().data.type=='ZheFei_PicText_Classification'
            || my_tree.get_selected_branch().data.type=='MusicCommon_SX'
            || my_tree.get_selected_branch().data.type=='Live_SX'
            || my_tree.get_selected_branch().data.type=='3rdApp'
            || my_tree.get_selected_branch().data.type=='ApkEntry'
            || my_tree.get_selected_branch().data.type=='WorldClock'
            || my_tree.get_selected_branch().data.type=='Yeste_WorldClock'
            || my_tree.get_selected_branch().data.type=='SkyworthATV'
            || my_tree.get_selected_branch().data.type=='SkyworthHDMI'
            || my_tree.get_selected_branch().data.type=='SkyworthDTV'
            || my_tree.get_selected_branch().data.type=='MovieCommon'
            || my_tree.get_selected_branch().data.type=='MovieCommonAdv'
            || my_tree.get_selected_branch().data.type=='MovieCommonFree'
            || my_tree.get_selected_branch().data.type=='MusicCommon'
            || my_tree.get_selected_branch().data.type=='Shop'">
            <!-- 标题 -->
            <h4>{{my_tree.get_selected_branch().label}}</h4>
            <hr>
            <!--tab-->
            <ul class="nav nav-tabs">
                <li ng-class="{'active':(tvAdmin.tab==1)}" class="cursor-pointer">
                    <a ng-click="tvAdmin.tab=1">模块内容</a>
                </li>
                <li ng-class="{'active':(tvAdmin.tab==2)}" class="cursor-pointer">
                    <a role="tab" ng-click="tvAdmin.tab=2">模块信息</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane padding-bottom-72" ng-class="{'in active':(tvAdmin.tab==2)}">
                    <button type="button" class="button button-light" title="删除当前菜单" ng-disabled="tvAdmin.menuDeleting" ng-click="tvAdmin.deleteMenu()">
                        <i class="icon ion-ios-trash-outline"></i> 删除当前模块
                    </button>
                    <div class="row">
                        <div class="col-xs-6">
                            <!--菜单风格图-->
                            <div class="form-group">
                                <label>模板风格</label>
                                <div class="form-thumbnail form-thumbnail-screen-lg" style="background-image: url({{my_tree.get_selected_branch().data.styleImg}})"></div>
                            </div>
                            <!--/菜单风格图-->
                            <!--修改菜单信息-->
                            <form name="tvMenuEditForm" ng-submit="tvMenuEditForm.$valid && tvAdmin.saveTvMenu()">
                                <!--修改菜单名称（多语言）-->
                                <ng-repeat ng-repeat="lang in tvAdmin.editLangs">
                                    <div class="form-group">
                                        <ng-if class="ng-scope" ng-if="lang.default">
                                            <label class="ng-binding">菜单名称 {{lang.name}}：</label>
                                            <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required placeholder="（必填）"" ng-model="tvAdmin.menu.name[lang.code]" required placeholder="（必填）" />
                                        </ng-if>
                                        <ng-if class="ng-scope" ng-if="lang.default !== true">
                                            <label class="ng-binding">菜单名称 {{lang.name}}：</label>
                                            <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required placeholder="（必填）"" ng-model="tvAdmin.menu.name[lang.code]" />
                                        </ng-if>
                                    </div>
                                </ng-repeat>
                                <!--/修改菜单名称（多语言）-->
                                <div class="form-group">
                                    <label>菜单序号:</label>
                                    <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required placeholder="（必填）"" type="number" ng-model="tvAdmin.menu.seq" min="1" required placeholder="（必填）"/>
                                    <br>
                                    <!--/菜单排序-->
                                </div>
                                <div class="form-group">
                                    <label>菜单图片:</label>
                                    <!--修改菜单图片按钮-->
                                    <input id="upload3" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload3" />
                                    <a ng-click="tvAdmin.clickUpload('upload3')">上传</a>
                                    <br>
                                    <a id="hidenUpload3" style="display: none;" ng-click="tvAdmin.imgs3.uploadFile(myFile, tvAdmin.imgs3)"></a>
                                    <!--/修改菜单图片按钮-->
                                    <!--菜单图片-->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-thumbnail ng-scope" style="background-image: url({{img.src}})" alt="{{img.fileName}})" ng-repeat="img in tvAdmin.imgs3.data">
                                                <!--进度条-->
                                                <div class="progress form-thumbnail-progress" ng-show="!({{img.progress}}==100)">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{img.progress}}%"></div>
                                                </div>
                                                <!-- -1代表失败 -->
                                                <!-- 大小： {{img.fileSize}}
                                                剩余： {{img.leftSize}} -->
                                            </div>
                                            <!--/form-thumbnail-->
                                        </div>
                                        <!--/col-xs-12-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--/row-->
                                    <!--/菜单图片-->
                                    <label>菜单高亮图片:</label>
                                    <!--修改菜单高亮图片按钮-->
                                    <input id="upload4" style="display: none;" type="file" file-model="myFile" data-e="hidenUpload4" />
                                    <a ng-click="tvAdmin.clickUpload('upload4')">上传</a>
                                    <br>
                                    <a id="hidenUpload4" style="display: none;" ng-click="tvAdmin.imgs4.uploadFile(myFile, tvAdmin.imgs4)"></a>
                                    <!--/修改菜单高亮图片按钮-->
                                    <!--菜单高亮图片-->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-thumbnail ng-scope" style="background-image: url({{img.src}})" alt="{{img.fileName}})" ng-repeat="img in tvAdmin.imgs4.data">
                                                <!--进度条-->
                                                <div class="progress form-thumbnail-progress" ng-show="!({{img.progress}}==100)">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{img.progress}}%"></div>
                                                </div>
                                                <!-- -1代表失败 -->
                                                <!-- 大小： {{img.fileSize}}
                                                剩余： {{img.leftSize}} -->
                                            </div>
                                            <!--/form-thumbnail-->
                                        </div>
                                        <!--/col-xs-12-->
                                    </div>
                                    <!--/row-->
                                    <!--/菜单高亮图片-->
                                    <!--菜单排序-->
                                </div>
                                <div class="form-group">
                                    <label> </label>
                                    <!--保存按钮-->
                                    <button class="button button-small button-block theme-button-outline" type="submit" ng-disabled="tvAdmin.menuSaving">
                                        <i class="icon ion-ios-checkmark-outline"></i> {{'SAVE' | translate}}
                                    </button>
                                    <!--/保存按钮-->
                                </div>
                            </form>
                            <!--/修改菜单信息-->
                        </div>
                    </div>
                </div>
                <!--添加模块-->
                <div class="tab-pane" ng-class="{'in active':(tvAdmin.tab==1)}">
                    <ng-if ng-if="my_tree.get_selected_branch().data.type=='MainMenu_THJ_SecondMenu'
                    || my_tree.get_selected_branch().data.type=='MainMenu_SX_SecondMenu'
                    || my_tree.get_selected_branch().data.type=='MainMenu_LiFeng_SecondMenu'
                    || my_tree.get_selected_branch().data.type=='MainMenu_Yeste_SecondMenu'">

                            <a ng-click="tvAdmin.addModule(2)" class="button button-light">
                                <i class="icon ion-ios-plus-outline"></i>添加模块
                            </a>
                    </ng-if>        
                </div>
                <!--/添加模块-->
            </div>
            <!-- /一级菜单 -->
        </ng-if>
        <!--右侧容器-->
        <div class="tab-content" ng-if="my_tree.get_selected_branch().data.type=='welcome' 
            || my_tree.get_selected_branch().data.type=='Live'
            || my_tree.get_selected_branch().data.type=='SimplePicText'
            || my_tree.get_selected_branch().data.type=='MultPic'
            || my_tree.get_selected_branch().data.type=='LiFeng_MultPic'
            || my_tree.get_selected_branch().data.type=='ZheFei_MultPic'
            || my_tree.get_selected_branch().data.type=='PicText_Classification'
            || my_tree.get_selected_branch().data.type=='SimpleSmallPicText'
            || my_tree.get_selected_branch().data.type=='LiFeng_SimpleSmallPicText'
            || my_tree.get_selected_branch().data.type=='LiFeng_SimpleSmallPicText_Left'
            || my_tree.get_selected_branch().data.type=='ZheFei_SimpleSmallPicText_Small'
            || my_tree.get_selected_branch().data.type=='ZheFei_SimpleSmallPicText_Carousel'
            || my_tree.get_selected_branch().data.type=='Yeste_SimpleSmallPicText_Carousel'
            || my_tree.get_selected_branch().data.type=='Yeste_SimpleSmallPicText'
            || my_tree.get_selected_branch().data.type=='MultPic_SX_Small'
            || my_tree.get_selected_branch().data.type=='MultPic_SX_Big'
            || my_tree.get_selected_branch().data.type=='SimplePicText_Price'
            || my_tree.get_selected_branch().data.type=='SimplePicText_SX'
            || my_tree.get_selected_branch().data.type=='PicText_Classification_SX'
            || my_tree.get_selected_branch().data.type=='ZheFei_PicText_Classification'
            || my_tree.get_selected_branch().data.type=='MusicCommon_SX'
            || my_tree.get_selected_branch().data.type=='Live_SX'
            || my_tree.get_selected_branch().data.type=='Weather_SX'
            || my_tree.get_selected_branch().data.type=='Yeste_Weather'
            || my_tree.get_selected_branch().data.type=='3rdApp'
            || my_tree.get_selected_branch().data.type=='ApkEntry'
            || my_tree.get_selected_branch().data.type=='WorldClock'
            || my_tree.get_selected_branch().data.type=='Yeste_WorldClock'
            || my_tree.get_selected_branch().data.type=='SkyworthATV'
            || my_tree.get_selected_branch().data.type=='SkyworthHDMI'
            || my_tree.get_selected_branch().data.type=='SkyworthDTV'
            || my_tree.get_selected_branch().data.type=='MovieCommon'
            || my_tree.get_selected_branch().data.type=='MusicCommon'
            || my_tree.get_selected_branch().data.type=='MovieCommonAdv'
            || my_tree.get_selected_branch().data.type=='MovieCommonFree'
            || my_tree.get_selected_branch().data.type=='Shop'
            || my_tree.get_selected_branch().data.type=='version'
            || my_tree.get_selected_branch().data.type=='guangGaoWei'">
            <div class="tab-pane padding-bottom-72" ng-class="{'in active':(tvAdmin.tab==1)}">
                <ui-view></ui-view>
            </div>
        </div>
        <!--右侧容器-->
    </div>
</div>
