<div ng-controller="tvAdminController as tvAdmin" ng-init="tvAdmin.init()">
    <div class="row">
        <!--左侧菜单树-->
        <div class="col-xs-3">
            <span ng-if="doing_async">...loading...</span>
            <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" initial-selection="欢迎页面" expand-level="2"></abn-tree>
        </div>
        <!--左侧菜单树-->

        <!--右侧容器-->
        <div class="col-xs-9">
            <ng-if ng-if="tvAdmin.menuRoot">
            <!--主菜单-->
                
                <!--菜单风格图-->
                菜单风格图<br>
                <!--菜单风格图-->

                <!--更改风格按钮-->
                更改风格按钮按钮<br>
                <!--更改风格按钮-->

                <!--添加子菜单-->
                <div ng-click="tvAdmin.addMenu(1)">添加子菜单</div>
                <!--添加子菜单-->

                <!--添加子模块-->
                <div ng-click="tvAdmin.addModule(1)">添加子模块</div>
                <!--添加子模块-->

            <!--主菜单-->
            </ng-if>


            <ng-if ng-if="tvAdmin.module || tvAdmin.menuExceptRoot">
            <!-- 一/二级菜单 -->
                <ng-if ng-if="tvAdmin.menuExceptRoot">
                    <!--菜单风格图-->
                    菜单风格图<br>
                    <!--菜单风格图-->

                    <!--添加子菜单-->
                    添加子菜单<br>
                    <!--添加子菜单-->

                    <!--添加子模块-->
                    添加子模块<br>
                    <!--添加子模块-->
                </ng-if>

                <!--删除当前菜单-->
                删除当前菜单<br>
                <!--删除当前菜单-->


                <!--修改菜单信息-->

                    <!--修改菜单名称（多语言）-->
                    修改菜单名称（多语言）<br>
                    <!--修改菜单名称（多语言）-->

                    <!--菜单图片-->
                    菜单图片<br>
                    <!--菜单图片-->

                    <!--修改菜单图片按钮-->
                    修改菜单图片按钮<br>
                    <!--修改菜单图片按钮-->

                    <!--菜单选中时图片-->
                    菜单选中时图片<br>
                    <!--菜单选中时图片-->

                    <!--修改菜单选中时图片按钮-->
                    修改菜单选中时图片按钮<br>
                    <!--修改菜单选中时图片按钮-->

                    <!--菜单排序-->
                    菜单排序<br>
                    <!--菜单排序-->

                    <!--保存按钮-->
                    保存按钮<br>
                    <!--保存按钮-->

                <!--修改菜单信息-->    

            <!-- 一/二级菜单 -->
            </ng-if>

            <!--右侧容器-->
                <ui-view></ui-view>
            <!--右侧容器-->
        </div>
        
    </div>
</div>