<div ng-controller="orderCompleteController as reportForm" ng-init="reportForm.init()" class="content-right">
    <!--当前选中名称-->
    <h4>订房已完成统计</h4>
    <hr>
    <div class="row">
        <!--搜索 筛选条件－开始日期&&结束日期-->
        <div class="col-xs-12">
            <div class="search-bar">
                <!-- 日期选择器 -->
                <div class="form-group">
                    <!--开始日期-->
                    <small>开始日期</small>
                    <input type="text" class="form-control start" id="startTime" ng-model="startTime" readonly/>
                </div>
                <div class="form-group">
                    <!--结束日期-->
                    <small>结束日期</small>
                    <input type="text" class="form-control end" id="endTime" ng-model="endTime" readonly/>
                </div>
                <a ng-click="reportForm.getInfo()" class="button button-light" style="top: 10px;">
                    <i class="icon ion-ios-search-strong"></i> 查询
                </a>

                <a ng-click="reportForm.export()" class="button button-light" style="top: 10px;">
                    <i class="icon ion-log-out"></i> 导出总报表
                </a>

                <a class="button button-light" style="top: 10px;" ng-show="reportForm.downloading">
                    <i class="icon ion-ios-time-outline"></i> 数据生成中，请稍等...
                </a>
                <a href="{{reportForm.downloadLink}}" class="button button-light" style="top: 10px;"
                   ng-show="reportForm.complete">
                    <i class="icon ion-ios-download-outline"></i> 下载总报表（{{reportForm.sTime}}至{{reportForm.eTime}}）
                </a>
            </div>
        </div>
    </div>
    <hr style="margin-top: 0;">
    <table class="table table-hover table-condensed" ng-show="!reportForm.loading">
        <tr>
            <th>订单数</th>
            <th>间夜数</th>
            <th>订单总收入（元）</th>
            <th>代收门票（元）</th>
        </tr>
        <tr>
            <td>{{reportForm.roomTable['订单数']}}</td>
            <td>{{reportForm.roomTable['间夜数']}}</td>
            <td>{{reportForm.roomTable['订单总收入（元）']| number:2}}</td>
            <td>{{reportForm.roomTable['代收门票（元）']| number:2}}</td>
        </tr>
    </table>
    <div ng-show="reportForm.loading">loading...</div>
    <div ng-show="reportForm.noData">查无数据</div>

    <div>
        <a ng-click="reportForm.exportTicketReport()" class="button button-light" style="top: 10px;">
            <i class="icon ion-log-out"></i> 门票报表导出
        </a>
        <a class="button button-light" style="top: 10px;" ng-show="reportForm.ticketDownloading">
            <i class="icon ion-ios-time-outline"></i> 数据生成中，请稍等...
        </a>
        <a href="{{reportForm.ticketDownloadLink}}" class="button button-light" style="top: 10px;"
           ng-show="reportForm.ticketComplete">
            <i class="icon ion-ios-download-outline"></i> 下载门票报表（{{reportForm.sTime2}}至{{reportForm.eTime2}}）
        </a>
    </div>
</div>
