<div ng-controller="placeOrderFormController as reportForm" ng-init="reportForm.init()" class="content-right">
    <!--当前选中名称-->
    <h4>下单统计</h4>
    <hr>
    <div class="row">
        <!--搜索 筛选条件－开始日期&&结束日期-->
        <div class="col-xs-12">
            <div class="search-bar">
                <!-- 日期选择器 -->
                <div class="form-group">
                    <!--开始日期-->
                    <small>开始日期</small>
                    <input type="text" class="form-control start" uib-datepicker-popup
                           ng-model="reportForm.searchDate" is-open="reportForm.startOpened"
                           datepicker-options="dateOptions" current-text="今天" close-text="关闭" clear-text="清空"
                           ng-click="reportForm.open($event)"/>
                </div>
                <div class="form-group">
                    <!--结束日期-->
                    <small>结束日期</small>
                    <input type="text" class="form-control end" uib-datepicker-popup ng-model="reportForm.endDate"
                           is-open="reportForm.endOpened" datepicker-options="dateOptions" current-text="今天"
                           close-text="关闭" clear-text="清空" ng-click="reportForm.open($event)"/>
                </div>
                <a ng-click="reportForm.getInfo()" class="button button-light" style="top: 10px;">
                    <i class="icon ion-ios-search-strong"></i> 查询
                </a>

                <a ng-click="reportForm.export()" class="button button-light" style="top: 10px;">
                    <i class="icon ion-log-out"></i> 导出总报表
                </a>

                <a class="button button-light" style="top: 10px;" ng-show="reportForm.downloading">
                    <i class="icon ion-ios-time-outline"></i> 数据生成中，请稍等...
                </a>
                <a href="{{reportForm.downloadLink}}" class="button button-light" style="top: 10px;"
                   ng-show="reportForm.complete">
                    <i class="icon ion-ios-download-outline"></i> 下载总报表（{{reportForm.sTime}}至{{reportForm.eTime}}）
                </a>
            </div>
        </div>
    </div>
    <hr style="margin-top: 0;">
    <h5>扫码统计</h5>
    <table class="table table-hover table-condensed" ng-show="!reportForm.loading">
        <tr>
            <td ng-repeat="item in reportForm.qrcodeTable">
                    <span ng-repeat="(key,val) in item">
                        {{key}}
                    </span>
            </td>
        </tr>
        <tr>
            <td ng-repeat="item in reportForm.qrcodeTable">
                    <span ng-repeat="(key,val) in item">
                        {{val}}
                    </span>
            </td>
        </tr>
    </table>
    <h5>订房统计</h5>
    <table class="table table-hover table-condensed" ng-show="!reportForm.loading">
        <tr>
            <td ng-repeat="item in reportForm.roomTable">
                    <span ng-repeat="(key,val) in item">
                        {{key}}
                    </span>
            </td>
        </tr>
        <tr>
            <td ng-repeat="item in reportForm.roomTable">
                    <span ng-repeat="(key,val) in item">
                        {{key=='代收门票（元）（以现票价统计）'||key=='订单总收入（元）'? (val | number:2) : val}}
                    </span>
            </td>
        </tr>
    </table>
    <div ng-show="reportForm.loading">loading...</div>
    <div ng-show="reportForm.noData">查无数据</div>

    <!--<div>-->
        <!--<a ng-click="reportForm.exportTicketReport()" class="button button-light" style="top: 10px;">-->
            <!--<i class="icon ion-log-out"></i> 门票报表导出-->
        <!--</a>-->
        <!--<a class="button button-light" style="top: 10px;" ng-show="reportForm.ticketDownloading">-->
            <!--<i class="icon ion-ios-time-outline"></i> 数据生成中，请稍等...-->
        <!--</a>-->
        <!--<a href="{{reportForm.ticketDownloadLink}}" class="button button-light" style="top: 10px;"-->
           <!--ng-show="reportForm.ticketComplete">-->
            <!--<i class="icon ion-ios-download-outline"></i> 下载门票报表（{{reportForm.sTime}}至{{reportForm.eTime}}）-->
        <!--</a>-->
    <!--</div>-->
</div>
